$fontSize: 16px;
$text-color: #292929;
$total-width: 1200px;
$inner-width: 970px;
$medium-width: 760px;
$small-width: 640px;
$smaller-width: 565px;
$smallest-width: 470px;

/* susy setting */
// 970px wide
$susy:(
	// debug:(image: show),
	columns: 12,
	column-width: 68px,
	gutters: 14/68 // gridGutterWidth/column-width
);

/* Sprite maps */
$brand: sprite-map('brand/*.png');
$card: sprite-map('card/*.png');
$social: sprite-map('social/*.png');