%clearfix {
    &::before {
        display: table;

        content: "";
    }
    &::after {
        display: table;
        clear: both;

        content: "";
    }
}

%hide-text {
    overflow: hidden;

    white-space: nowrap;
    text-indent: 100%;
}

// 文章區塊樣式
%article {
    overflow: hidden;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

// 專長標籤
%skillTag {
    font-size: 10px;
    line-height: 16px;

    width: 48px;
    height: 16px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    background-color: rgba(74, 74, 74, 0.7);
}