@mixin bg($img) {
    width: image-width($img);
    height: image-height($img);

    background: image-url($img);
}

@mixin btn($width, $height, $color, $bgColor, $border: 1px solid $ocean-blue, $radius: 5px, $maxWidth: false) {
    line-height: $height;

    display: block;

    height: $height;

    text-align: center;

    color: $color;
    border: $border;
    border-radius: $radius;
    background-color: $bgColor;

    @if ($maxWidth == true) {
        max-width: $width;
    }
    @else {
        width: $width;
    }
}

// 增加點擊範圍
// $width: 原寬度(false: 不增加)
// $height: 原高度(false: 不增加)
// $widthScope: 可點擊寬度
// $heightScope: 可點擊高度
@mixin clickableArea($width, $height, $widthScope: 44px, $heightScope: 44px) {
    position: absolute;

    content: "";

    // 寬度
    @if ($width != false) {
        right: -($widthScope - $width) / 2;
        left: -($widthScope - $width) / 2;
    }
    @else {
        right: 0;
        left: 0;
    }

    // 高度
    @if ($height != false) {
        top: -($heightScope - $height) / 2;
        bottom: -($heightScope - $height) / 2;
    }
    @else {
        top: 0;
        bottom: 0;
    }
}

// 產生在連結上的背景圖片(Icon)，並增加連結點擊範圍
// $position: 偽元素類型(before/after)
// $width: 圖片寬度
// $height: 圖片高度
// $fileName: 圖片檔名
// $widthScope: 可點擊寬度
// $heightScope: 可點擊高度
@mixin iconLink($position, $width, $height, $fileName, $widthScope: 44px, $heightScope: 44px) {
    width: $width;
    height: $height;

    background-image: inline-image("Icons/" + $fileName + ".svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

    // 連結點擊範圍
    &::#{$position} {
        position: absolute;
        top: -($heightScope - $height) / 2;
        right: -($widthScope - $width) / 2;
        bottom: -($heightScope - $height) / 2;
        left: -($widthScope - $width) / 2;

        content: "";

        @content;

        @if ($width == $widthScope and $height == $heightScope) {
            display: none;
        }
    }
}

// 標題前方裝飾
@mixin title($margin, $bgColor: $ocean-blue, $width: 4px, $height: 17px) {
    margin-right: $margin + $width;
    margin-left: $margin + $width;

    text-indent: -($margin + $width);
    &::before {
        display: inline-block;

        width: $width;
        height: $height;
        margin-right: $margin;

        content: "";
        vertical-align: middle;

        background-color: $bgColor;
    }
}

// 封面+播放按鈕
@mixin coverWithPlayBtn($coverSize, $btnSize, $btnPos) {
    position: relative;

    overflow: hidden;

    width: $coverSize;

    border-radius: 2px;
    .playBtn {
        @include iconLink("before", $btnSize, $btnSize, "play-1", 40px, 40px);

        position: absolute;
        z-index: map-get($z-index, single-aboveMask);
        right: $btnPos;
        bottom: $btnPos;
        &.playing {
            background-image: inline-image("Icons/play-2.svg");
        }
        &.pause {
            background-image: inline-image("Icons/stop-2.svg");
        }
    }
}

// 遮罩效果
@mixin mask($source, $type: "gradient") {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    @if ($type == "gradient") {
        background-image: $source;
    }
    @else if ($type == "color") {
        background-color: $source;
    }
}

// 省略號
@mixin ellipsis($width, $display: block) {
    display: $display;
    overflow: hidden;

    max-width: $width;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin border($position) {
    border-#{$position}: solid 1px rgba(155, 155, 155, 0.3);
}

// 音樂人等級Icon
@mixin musicianLevel($width, $marginRight) {
    &::before {
        display: block;

        width: $width;
        height: $width + 1;
        margin-right: $marginRight;

        content: "";

        background-size: contain;

        @content;
    }
    @each $musician in $musicians {
        &.#{$musician}::before {
            background-image: inline-image("Icons/#{$musician}.svg");
        }
    }
}
