body {
    margin-top: $headerHeight; /* 於 landing 頁面下將被 jquery.fullPage.css 覆寫 */

    color: $dirty-purple;
    background-color: #f8f8f8;
}
a {
    color: $dirty-purple;
}
main {
    transition: margin-bottom 0.4s;
}
.wrap {
    min-width: 320px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
    & > article:first-child {
        margin-top: 0;
    }
}
