/* ========================================================================== */
/* font(for stars) */
/* ========================================================================== */
@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;

    src: font-url("icomoon.eot?hco3z3");
    src: font-url("icomoon.eot?hco3z3#iefix") format("embedded-opentype"),
    font-url("icomoon.ttf?hco3z3") format("truetype"),
    font-url("icomoon.woff?hco3z3") format("woff"),
    font-url("icomoon.svg?hco3z3#icomoon") format("svg");
}
[class*=" glyphicon-star"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

/* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}
.glyphicon-star-empty::before {
    content: "\e901";

    color: #b7b7b7;
}
.glyphicon-star::before {
    content: "\e900";

    color: #0078b2;
}

main.single {
    font-size: 13px;
    line-height: 20px;

    margin-bottom: 20px;
    padding-top: 12px;
    // 星星評分
    .ratingWrap {
        display: flex;
        .rating-container {
            .filled-stars {
                text-shadow: none;

                -webkit-text-stroke: 0;
            }
            .clear-rating,
            .caption {
                display: none;
            }
            .rating-stars,
            .rating-stars span {
                display: flex;
            }
        }
        .rating-md {
            display: flex;
        }
    }
    article {
        @extend %article;
        &:first-child {
            margin-top: 0;
        }
        &.group,
        &.recommend {
            padding-top: 10px;
        }
    }
    h1.title {
        @include title(5px);

        font-size: 17px;
        font-weight: bold;
        line-height: 25px;

        margin-bottom: 10px;
    }

    /* ====================================================================== */
    /* main */
    /* ====================================================================== */
    .main-top {
        @include border("bottom");

        display: flex;

        padding: 15px 10px;

        flex-wrap: wrap;
    }
    .main-top-cover {
        @include coverWithPlayBtn(149px, 40px, 12px);
        &::after {
            @include mask(linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)));
        }
    }
    .main-top-cover-img {
        display: block;
    }
    .main-top-info {
        position: relative;

        width: calc(100% - 149px - 9px);
        margin-left: 9px;
        padding-bottom: 30px; /* 分享按鈕高度 */

        color: $dirty-purple-40;
    }
    .main-top-info-songName {
        font-weight: bold;

        margin-bottom: 2px;

        color: $dirty-purple;
    }
    .main-top-info-singer {
        margin-bottom: 24px;
    }
    .main-top-info-rating {
        width: 95px;
        height: 13px;
        margin-bottom: 5px;
        margin-left: -3px;
        .rating-md {
            font-size: 13px;
        }
    }
    .main-top-info-time {
        margin-bottom: 2px;
    }
    .main-top-info-tag {
        margin-bottom: 11px;
        li {
            display: inline-block;
            &::after {
                content: ",\00A0";
            }
            &:last-child::after {
                display: none;
            }
        }
    }
    .main-top-info-shareBtn {
        @include btn(100%, 30px, #fff, $ocean-blue, 0, 5px);

        position: absolute;
        bottom: 0;
        left: 0;
    }
    .main-detail {
        display: none;
        overflow: hidden;

        padding-right: 15px;
        padding-left: 15px;
        &.unfold {
            @include border("bottom");
        }
        ul {
            @include border("bottom");

            display: flex;

            margin-bottom: 10px;
        }
        li {
            width: 56px;
            height: 41px;
            &:first-child {
                margin-right: 10px;
            }
            &.ui-tabs-active .main-detail-link {
                font-weight: bold;

                color: $dirty-purple;
                border-bottom: solid 4px $dirty-purple;
            }
        }
    }
    .main-detail-content {
        margin-bottom: 12px;
    }
    .main-detail-link {
        line-height: 20px;

        display: block;

        padding: 10px 0 7px;

        text-align: center;

        color: $dirty-purple-40;
        &:focus {
            outline: none;
        }
    }

    /* ====================================================================== */
    /* group */
    /* ====================================================================== */
    .group-list {
        @include border("bottom");

        display: flex;
        overflow: hidden;

        height: 104px;
        padding-right: 15px;
        padding-left: 15px;

        transition: height 0.4s;

        flex-wrap: wrap;
        &.less {
            height: 108px;
            li {
                margin-bottom: 16px;
            }
            & + .foldToggle {
                display: none;
            }
        }
        li {
            width: calc((100% - 14px * 3) / 4);
            height: 92px;
            margin-right: 14px;
            margin-bottom: 12px;
            &:nth-child(4n + 4) {
                margin-right: 0;
            }
        }
        a {
            display: inline-block;
        }
        @media (max-width: 375px) {
            padding-right: 5px;
            padding-left: 5px;
            li {
                width: calc((100% - 2px * 3) / 4);
                margin-right: 2px;

                text-align: center;
            }
        }
    }
    .group-list-cover {
        position: relative;

        overflow: hidden;

        width: 70px;
        height: 70px;
        margin-bottom: 2px;

        border-radius: 50%;
        &::before {
            @include ellipsis(40px);

            font-size: 9px;
            line-height: 9px;

            position: absolute;
            z-index: map-get($z-index, single-aboveMask);
            right: 15px;
            bottom: 7px;
            left: 15px;

            content: attr(data-creation);
            text-align: center;

            color: #fff;
        }
        &::after {
            @include mask(linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 51%, #000));
        }
    }
    .group-list-name {
        @include ellipsis(70px);

        text-align: center;
    }

    /* ====================================================================== */
    /* recommend */
    /* ====================================================================== */
    .recommend {
        position: relative;

        margin-bottom: 12px;
    }
    .recommend-pick {
        @include btn(65px, 18px, rgba(74, 74, 74, 0.8), null, 1px solid #808080);

        position: absolute;
        top: 14px;
        right: 15px;

        display: flex;

        align-items: center;
        justify-content: center;
        &::before {
            width: 12px;
            height: 12px;
            margin-right: 3px;

            content: "";

            background-image: inline-image("Icons/change#808080.svg");
            background-size: cover;
        }
    }
    .recommend-list {
        display: flex;

        padding-right: 15px;
        padding-left: 15px;

        flex-wrap: wrap;
        a {
            display: block;
        }
        li {
            width: calc((100% - 10.5px * 2) / 3);
            margin-right: 10.5px;
            margin-bottom: 15px;
            // 後面3項
            &:nth-last-child(-n + 3) {
                margin-bottom: 16px;
            }
            &:nth-child(3n + 3) {
                margin-right: 0;
            }
        }
    }
    .recommend-list-cover {
        @include coverWithPlayBtn(100%, 30px, 10px);

        margin-bottom: 4px;
        &::after {
            @include mask(linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3)));

            pointer-events: none;
        }
    }
    @media (max-width: 375px) {
        .recommend-list {
            padding-right: 5px;
            padding-left: 5px;
            li {
                width: calc((100% - 5px * 2) / 3);
                margin-right: 5px;

                text-align: center;
            }
        }
    }
    .creations-list-cover-img {
        display: block;
    }
    .recommend-list-songName {
        @include ellipsis(100%);

        text-align: center;
    }

    .moreRecommend {
        @include btn(100%, 46px, $dirty-purple, null, 1px solid rgba(74, 74, 74, 0.5));

        font-weight: bold;

        margin-bottom: 20px;
    }
}
