@include susy-breakpoint(425px){
	html{
		font-size: 10px;
	}
}
@include susy-breakpoint(768px, $medium){
	html{
		font-size: 13px;
	}
	.inner{
		@include container;
		padding-left: 10px;
		padding-right: 10px;
	}
	#top{
		@include shadow(-8px, true);
		padding-bottom: 70px;
		background: image-url('top_bg.png') 50% 50%/cover;
		header{
			display: flex;
			align-items: center;
			&::before,
			&::after{
				display: none;
			}
			height: 168px;
		}
		#logo{
			width: 55%;
			height: image-height('logo_b.png');
			padding: 0;
			background-image: none;
		}
		h1{
			width: image-width('logo_b.png');
			max-width: 90%;
			margin: 0;
			background-image: image-url('logo_b.png');
			vertical-align: middle;
		}
		nav{
			position: relative;
		    z-index: 0;
			width: 45%;
			height: 41px;
			margin-right: 0;
			&::before,
			&::after{
				content: '';
				position: absolute;
				z-index: -1;
				width: 100%;
				height: inherit;
				background-color: rgba($color, 0.5);
			}
			&::before{
				top: -4px;
				left: -4px;
			}
			&::after{
				top: -8px;
				left: -8px;
			}
		}
		.topnav-link{
			.fa,
			.text{
				display: inline-block;
			}
		}
		section{
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		h3{
			display: block;
			order: 1;
			width: 45%;
		    text-align: center;
		    font-size: rem(63.05);
		    color: #fff;
		    &:first-line{
		    	color: $color;
		    }
		}
		#video1{
			width: 55%;
			margin: 0;
		}
	}
	#subnav{
		li{
			border-left: #d1d1d1 solid 1px;
			&:last-child{
				border-right: #d1d1d1 solid 1px;
			}
		}
	}
	#middle{
		@include checkerboard(26px, rgba($color,0.8), $color);
		@include shadow(8px, true);
	    padding-bottom: 45px;
		.box,
		#twitter{
			width: 32%;
		}
		.box{
			&.left,
			&.right{
				padding: 0;
			}
			&.right{
				height: inherit;
			}
		}
		#twitter{
			display: block;
			float: right;
			clear: none;
			height: inherit;
			.fa{
				width: 100%;
			}
			.content{
				display: none;
			}
			&::before,
			&::after{
				display: block;
			}
			&::before{
				content: '22';
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: rem(25.05);
				color: #fff;
			}
		}
		header{
			display: block;
			font-size: rem(37.05);
			line-height: lineHeight(110, 37.05);
			color: #fff;
		}
		.date{
			display: flex;
			justify-content: center;
			align-items: center;
			width: rem(113);
			height: rem(86);
			text-align: center;
			font-size: rem(21.05);
		    line-height: 1;
			color: #b26529;
			background-color: #ddb101;
			.text:first-line{
				font-size: rem(51.05);
				font-weight: bold;
				color: #fff;
			}
		}
	}
	#bottom{
		.img{
			@include span(6);
		}
		ul{
			$width: rem(14); // 項目符號寬度
			$left: rem(20); // 項目符號與文字距離
			@include span(last 6);
			display: block;
			padding-left: calc(#{$left} + #{$width});
			font-size: rem(22);
			li{
				margin-bottom: rem(26);
				line-height: 1;
				text-indent: -$width;
				color: #a9a9a7;
				&::before{
					content:'';
					position: relative;
					left: -$left;
					display: inline-block;
					width: $width;
					height: $width;
					vertical-align: middle;
					border-radius: 50%;
					background-color: yellow;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	footer{
		.logo{
			float: left;
		}
		.auther{
			float: right;
			display: block;
			font-size: rem(17.05);
			text-align: right;
			line-height: 54px;
			color: #fff;
		}
	}
}
@include susy-breakpoint(920px){
	html{
		font-size: 16px;
	}
}