@import "susy";
// @import "compass/css3";
// @import "ceaser-easing";
@import "common/variable";
@import "common/function";
@import "common/mixin";
@import "common/extend";
@import "common/reset";

html{
	font-size: 8px;
	letter-spacing: letter(10);
}

#container{
	min-width: 300px;
}

.videoWrap{
	position: relative;
	text-align: center;
	&.played{
		background: none !important;
	}
}
video{
	width: 100%;
	height: inherit;
	max-width: $videoWidth;
	cursor: pointer;
}
.centerBtn {
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    width: 68px;
    height: 68px;
    background-color: rgba($color, 0.9);
    border-radius: 50%;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        top: calc(50% - 17px);
        left: calc(50% - 7px);
        width: 0;
        height: 0;
        border-left: #fff solid 20px;
        border-top: transparent solid 17px;
        border-bottom: transparent solid 17px;
    }
    &.pause{
    	display: none;
    }
}
@keyframes loading{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.loading{
	display: none;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	animation: loading 1s linear infinite;
}

#top{
	header{
		@extend %clearfix;
		height: 62px;
	}
	#logo{
		float: left;
		width: 35%;
		height: inherit;
		padding: 0 5px;
		background-image: linear-gradient(#5c5c5c,#454545);
	}
	h1{
		@extend %hide-text;
		max-width: image-width('logo.png');
		height: inherit;
		margin: 0 auto;
		background-image: image-url('logo.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}
	nav{
		float: left;
		width: 65%;
		height: inherit;
	}
	ul{
		@extend %clearfix;
		height: inherit;
		li{
			float: left;
			width: (100%/3);
			height: inherit;
			&:nth-child(2){
				border-left: #d9af05 solid 1px;
				border-right: #d9af05 solid 1px;
			}
		}
	}
	.topnav-link{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100%;
		font-size: rem(17.05);
		letter-spacing: letter(10);
		color: $darkerColor;
		background-color: $color;
		.fa{
			display: block;
			text-align: center;
		}
		.text{
			display: block;
			font-style: normal;
			text-align: center;
			line-height: 1.7;
		}
	}
	h3{
		display: none;
	}
	#video1{
		max-width: $videoWidth;
		margin: 0 auto;
		background-image: image-url('poster1.png');
		background-size: cover;
		video{
			margin-bottom: -4px;
			box-shadow: 0 1px 1px rgba(#000,0.5) inset;
		}
	}
	.controlWrap{
		position: absolute;
		left: 0;
		bottom: 7px;
		width: 100%;
		height: 26px;
	}
	.control{
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: $videoWidth;
		height: inherit;
		margin: 0 auto;
	}
	.playBtn {
	  position: relative;
	  width: 26px;
	  height: 26px;
	  background-color: rgba($color,0.5);
	  cursor: pointer;
	  &::before {
	    content: '';
	    position: absolute;
	    top: calc(50% - 8px);
	    left: calc(50% - 4px);
	    width: 0;
	    height: 0;
	    border-left: rgba(#fff,0.5) solid 10px;
	    border-top: transparent solid 8px;
	    border-bottom: transparent solid 8px;
	  }
	  &.pause::before {
	    content: '';
	    position: absolute;
	    top: calc(50% - 8px);
	    left: calc(50% - 5px);
	    width: 10px;
	    height: 16px;
	    border-left: rgba(#fff,0.5) solid 2px;
	    border-right: rgba(#fff,0.5) solid 2px;
	    border-top-style: none;
	    border-bottom-style: none;
	  }
	}
	.progress{
		overflow: hidden;
		width: 70%;
		height: 10px;
		background-color: rgba($color,0.5);
		border-radius: 5px;
		cursor: pointer;
	}
	.bar{
	    width: 0;
	    height: inherit;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    background-color: $color;
	}
	.soundBtn{
		width: 17px;
		height: 18px;
		font-size: 18px;
		color: $color;
		cursor: pointer;
	}
}

#subnav{
	background-image: repeating-linear-gradient(45deg, #f2f2f2, #f2f2f2 5px, #e6e6e6 5px, #e6e6e6 6px);
	ul{
		height: inherit;
		@extend %clearfix;
		li{
			display: flex;
		    justify-content: center;
		    align-items: center;
			float: left;
			width: (100%/3);
			height: inherit;
			padding: 38px 0;
		}
	}
	.subnav-link{
		display: block;
		font-size: rem(27.05);
		letter-spacing: letter(10);
		.fa{
			display: block;
			text-align: center;
			color: $color;
			&.fa-paper-plane-o{
				transform: rotateY(180deg);
			}
		}
		.text{
			display: block;
			font-style: normal;
			text-align: center;
			letter-spacing: letter(10);
			line-height: 2;
			color: #000;
		}
	}
}

#middle{
	@extend %clearfix;
	background-color: #fff;
	.box .content::after,
	#twitter::after{
		content: '+';
		position: absolute;
		bottom: 10px;
		right: 10px;
		font-size: 25px;
		color: #fff;
		cursor: pointer;
	}
	header{
		display: none;
	}
	.wrap{
		@extend %clearfix;
	}
	.box{
		float: left;
		width: 50%;
		&.left{
			padding: 10px 5px 10px 10px;
		}
		&.right{
			padding: 10px 10px 10px 5px;
		}
	}	
	.box .content,
	.box .videoWrap{
		display: block;
		height: 100%;
	}
	.box .content{
		position: relative;
		padding: 10px 20px;
		min-height: 145px;
		font-size: rem(28.05);
		letter-spacing: letter(10);
		line-height: lineHeight(33,28);
		color: #FFF;
		background-color: $darkColor;
	}
	#video2{
		background-image: image-url('poster2.png');
		background-size: cover;
		background-position: 50% 50%;
	}
	#twitter{
		position: relative;
		display: flex;
	    align-items: center;
		clear: both;
		background-color: $darkColor;
		.fa,
		.content{
			width: 50%;
		}
		.fa{
			font-size: 10em;
			text-align: center;
			color: $darkerColor;
		}
		.content{
			margin-right: rem(32);
		}
		.msg{
			position: relative;
			width: 100%;
			margin: rem(14) 0;
			padding: rem(8) 0 rem(8) rem(18);
			font-size: rem(13.05);
			letter-spacing: letter(10);
			border-radius: 10px;
			color: #8f8e8e;
			background-color: #fff;
			&::before{
				right: 99%;
			    bottom: 15%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				border-right-color: #FFF;
				border-width: 8px;
			}
			&:nth-of-type(2){
				background-color: #fceeb5;
				&::before{
					border-right-color: #fceeb5;
				}
			}
			&:nth-of-type(3){
				background-color: #fbe89c;
				&::before{
					border-right-color: #fbe89c;
				}
			}
		}
		form{
			@extend %clearfix;
			position: relative;
			margin: rem(14) 0;
		}
		input{
			float: left;
			height: rem(31);
			font-size: rem(15.5);
			letter-spacing: letter(10);
			line-height: rem(31);
			border-style: none;
			&[type=text]{
				width: 100%;
				padding-right: 60px;
				text-indent: 1em;
				border-radius: 10px;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
			}
			&[type=submit]{
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				color: #FFF;
				background-image: linear-gradient(#eaa927, #d08f0c);
				border: #9b7d08 solid 1px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
		&::before,
		&::after{
			display: none;
		}
	}
	.date{
		display: none;
	}
}

#bottom{
	background-color: #474747;
	header{
		padding: rem(42) 0;
		font-size: rem(43.05);
		text-align: center;
		color: $color;
	}
	.img{
		padding: 0 30px 55px 30px;
		img{
			width: 100%;
		}
	}
	ul{
		display: none;
	}
}

footer{
	@extend %clearfix;
	@include shadow(-10px);
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #474747;
	.logo{
		display: block;
		margin-left: 65px;
	}
	.auther{
		display: none;
	}
}

@import "breakpoint";