@import "susy";
@import "compass/css3";
@import "ceaser-easing";
@import "common/variable";
@import "common/mixin";
@import "common/extend";
@import "common/reset";
@import "layout";

$content3:(
	columns:9
);

.slide{
	background-color: #F8F8F8;
	.inner{
		width: 1000px;
		margin: 0 auto;
		img{
			max-width: 100%;
		}
		.slick-prev,
		.slick-next{
			&:before{
				font: normal normal normal 30px/1 FontAwesome;
				color: $highlight;
			}
			&:after{
				content: '';
				position: absolute;
				top: -20px;
				right: -20px;
				bottom: -20px;
				left: -20px;
			}
		}
		.slick-prev{
			left:-105px;
			&:hover:before{
				color:#9A9A9A;
			}
			&:before{
				content:'\f053';
			}
		}
		.slick-next{
			right:-105px;
			&:hover:before{
				color:#9A9A9A;
			}
			&:before{
				content: '\f054';
			}
		}
	}
}

.content1{
	@extend %clearfix;
	width: $total-width;
	margin: -50px auto 0;
	.box{
		position: relative;
		float: left;
		width: $total-width / 4;
		height: 358px;
		color:#FFF;
		padding: 30px;
		transition:all 0.5s;
		&:nth-child(1),&:nth-child(3){
			background-color: #5bb7de;
		}
		&:nth-child(2){
			background-color: #55b0d6;
		}
		&:nth-child(4){
			background-color: #62bfe6;
		}
		&:hover{
			height: 388px;
			margin-top: -30px;
			.more{
				right: 40px;
			}
		}
		.icon{
			font-size: 55px;
			margin-bottom: 20px;
		}
		.more{
			position: absolute;
			right: -30px;
			bottom: 20px;
			font-size: 20px;
			transition:right 0.3s;
		}
	}
}

.content2{
	@extend %clearfix;
	width: $total-width;
	margin: 0 auto;
	border-bottom: $highlight 3px solid;
	margin-bottom: 38px;
	div.box{
		@extend %clearfix;
		box-sizing:content-box;
		float: left;
		max-width: 555px;
		height: 100px;
		padding:50px 0 50px 0;
		margin-right: 30px;
		i{
			float: left;
			margin-right: 30px;
			width: 100px;
			height: 100px;
			background-color: $highlight;
			font-size: 50px;
			color:#FFF;
			text-align: center;
			line-height: 100px;
			cursor:default;
			transition:background-color 0.5s;
			&:hover{
				background-color: darken($highlight, 12);
			}
		}
		.text{
			float: right;
			max-width: 425px;
		}
		&:nth-of-type(1),&:nth-of-type(2){
			border-bottom: $underline 1px solid;
		}
	}
}

@include with-layout($content3){
	.content3{
		@include container;
		p{
			margin: 20px 0;
		}
		.about{
			@include span(3);
			p{
				margin-bottom: 100px;
			}
		}
		.services{
			@include span(3);
			ul{
				margin-bottom: 20px;
				li{
					padding: 17px 0;
					border-bottom: $underline 1px solid;
					&:last-of-type{
						border-bottom: none;
					}
					a{
						color: $highlight;
						transition:color 0.5s;
						i{
							margin-right: 10px;
							font-size: 20px;
						}
						&:hover{
							color:$text-color;
						}
					}
				}
			}
		}
		.info{
			@include span(last 3);
			.help{
				background-color: $highlight;
				color: #FFF;
				padding: 30px 35px;
				h2{
					margin-bottom: 0;
					padding-bottom: 20px;
					border-bottom: #FFF 1px solid;
					i{
						vertical-align: middle;
						margin-right: 10px;
					}
				}
				h3{
					margin: 20px 0;
				}
				dl{
					line-height: 28px;
					&:last-of-type{
						padding-bottom: 20px;
						border-bottom: #FFF 1px solid;
					}
					dt,dd{
						display: inline-block;
					}
				}
				p:last-of-type{
					margin-bottom: 0;
				}
			}
			.msg{
				background-color: #F5F5F5;
				padding: 30px;
				margin-top: 30px;
				&>div{
					@extend %clearfix;
					img{
						float: left;
						margin-right: 30px;
					}
					.text{
						float: right;
						width: 190px;
						line-height: 28px;
						q{
							float: right;
							i{
								color:$highlight;
								margin-right: 5px;
							}
						}
						cite{
							font-style:normal;
							display: inline-block;
							margin-top: 10px;
							a{
								color:$highlight;
								&:hover{
									text-decoration: underline;
								}
							}
						}
					}
				}
				.slick-dots{
					position: static;
					margin-top: 20px;
					li button::before{
						font-size: 13px;
					}
					li.slick-active button::before,li button:hover::before{
						color:$highlight;
					}
				}
			}
		}
	}
}

footer{
	background-color: #434547;
	.inner{
		width: $total-width;
		margin: 0 auto;
		#info{
			padding: 70px 0;
			ul{
				@extend %clearfix;
				&:first-child{
					margin-bottom: 30px;
				}
				li{
					display: flex;
					align-items: center;
					float: left;
					height: 70px;
					margin-right: 57px;
					color: #888a8c;
					&:last-child{
						margin-right: 0;
					}
					p{
						display: inline-block;
						width: 213px;
						margin: 0 30px;
						a{
							color: inherit;
						}
					}
					i.fa{
						width: 70px;
						height: 70px;
						font-size: 35px;
						color: #62bfe6;
						text-align: center;
						line-height: 70px;
						background-color: #4a4c4d;
					}
				}
			}
		}
		.copyright{
			color: #888a8c;
			padding: 20px 0 50px;
			border-top: #888a8c 1px solid;
		}
	}
}