@media (min-width: 481px) {
	header span {
		display: inline;
	}
	#nav_on {
		display: flex;

		width: auto;

		text-indent: initial;

		align-items: center;
	}
	#main article {
		min-height: rem(256);
		&:nth-child(2n+1) {
			float: left;

			width: 50%;
		}
	}
	#contact form {
		.name {
			float: left;

			width: 50%;
			padding-right: 0.75em;
		}
		.email {
			float: left;

			width: 50%;
			padding-left: 0.75em;
		}
		.msg {
			clear: both;
		}
	}
	footer li {
		line-height: 1;

		float: left;
		&:first-child {
			margin-right: 1em;
			padding-right: 1em;

			border-right: solid 1px;
		}
	}
}
@media (min-width: 737px) {
	.inner {
		@include inner-width(6em);
	}
	header {
		height: rem(52);
	}
	#first{
		h1 {
			font-size: 3.25rem;
		}
		.content{
			flex-direction: row;
			align-items: center;
			.wrap {
				margin-left: 1.5em;
			}
		}
	}
}
@media (min-width: 981px) {
	header {
		height: rem(60);
	}
	#main article {
		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(5) {
			width: 40%;
		}
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(6) {
			width: 60%;
		}
	}
	#contact {
		flex-direction: row;

		border-bottom: rgba(#fff, 0.1) 1px solid;
		.form,
		.info {
			width: 50%;
		}
		.info {
			border-top: none;
			border-bottom: none;
			border-left: rgba(#fff, 0.1) 1px solid;
		}
		form textarea {
			height: 208px;
		}
	}
	#bottom {
		clear: both;
	}
}
