@mixin bg($img){
    background:url(#{$img});
    width:image-width(#{$img});
    height:image-height(#{$img});
}
@mixin link_btn($width,$link-color,$bg-color,$link-color_hover,$bg-color_hover){
	display: block;
	width: $width;
	height: 43px;
	color: $link-color;
	background-color: $bg-color;
	line-height: 43px;
	text-align: center;
	&:hover{
		color:$link-color_hover;
		background: $bg-color_hover;
	}
}