@charset "UTF-8";
/* line 2, ../sass/common/_extend.scss */
.container .content .inner:before, .container .banner:before, .container .bottom:before, .container .bottom .events .event:before {
  content: "";
  display: table;
}
/* line 6, ../sass/common/_extend.scss */
.container .content .inner:after, .container .banner:after, .container .bottom:after, .container .bottom .events .event:after {
  content: "";
  display: table;
  clear: both;
}

/* line 12, ../sass/common/_extend.scss */
.container header h1, .container header .share li a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* line 4, ../sass/common/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, ../sass/common/_reset.scss */
html {
  /*預設字體大小*/
}

/* line 25, ../sass/common/_reset.scss */
body {
  line-height: 1;
  color: #292929;
  font-family: Helvetica, Arial, 'LiHei Pro', '微軟正黑體', '新細明體', sans-serif;
  /*讓英文字元自動斷行*/
  word-wrap: break-word;
  word-break: break-all;
  /*左右齊行*/
  text-align: justify;
}

/* line 37, ../sass/common/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/common/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/common/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 50, ../sass/common/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 55, ../sass/common/_reset.scss */
ins {
  text-decoration: none;
}

/* line 58, ../sass/common/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 62, ../sass/common/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /*防止表格被連續的英文或數字撐開*/
  table-layout: fixed;
  word-break: break-all;
}

/*表格框線*/
/* line 76, ../sass/common/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 79, ../sass/common/_reset.scss */
a {
  text-decoration: none;
  color: #292929;
}

/* line 9, ../sass/_layout.scss */
html {
  background: url(../images/layout/bg.png) repeat;
  /* 設定body高度為100% 拉到視窗可視的大小 */
  height: 100%;
}

/* line 14, ../sass/_layout.scss */
body {
  border-top: 6px solid #292929;
  /* 設定body高度為100% 拉到視窗可視的大小 */
  height: 100%;
}

/* line 19, ../sass/_layout.scss */
#bg-img {
  background: url(../images/layout/bg-img.gif);
  width: 150px;
  height: 6px;
  position: absolute;
  top: -6px;
  left: -150px;
}

/* line 25, ../sass/_layout.scss */
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
}
/* line 12, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 32, ../sass/_layout.scss */
.container p {
  font-size: 14px;
  line-height: 25px;
}
/* line 36, ../sass/_layout.scss */
.container i {
  color: #01a5ca;
  font-style: normal;
}
/* line 41, ../sass/_layout.scss */
.container header {
  position: relative;
  height: 149px;
  padding: 35px 0 35px 20px;
}
/* line 45, ../sass/_layout.scss */
.container header h1 {
  background: url(../images/layout/logo.png);
  width: 171px;
  height: 82px;
}
/* line 49, ../sass/_layout.scss */
.container header nav {
  position: absolute;
  bottom: 35px;
  right: 20px;
}
/* line 53, ../sass/_layout.scss */
.container header nav li {
  float: left;
  padding-right: 30px;
}
/* line 56, ../sass/_layout.scss */
.container header nav li:last-of-type {
  padding-right: 0;
}
/* line 59, ../sass/_layout.scss */
.container header nav li a {
  font-size: 17px;
}
/* line 61, ../sass/_layout.scss */
.container header nav li a:hover {
  color: #01a5ca;
}
/* line 67, ../sass/_layout.scss */
.container header .share {
  position: absolute;
  top: 35px;
  right: 20px;
}
/* line 71, ../sass/_layout.scss */
.container header .share li {
  float: left;
}
/* line 73, ../sass/_layout.scss */
.container header .share li:first-of-type {
  padding-right: 15px;
}
/* line 76, ../sass/_layout.scss */
.container header .share li a {
  display: inline-block;
}
/* line 80, ../sass/_layout.scss */
.container header .share li .twitter {
  background: url(../images/layout/twitter.png);
  width: 23px;
  height: 23px;
}
/* line 83, ../sass/_layout.scss */
.container header .share li .facebook {
  background: url(../images/layout/facebook.png);
  width: 23px;
  height: 23px;
}
/* line 90, ../sass/_layout.scss */
.container .content {
  /* 留出footer區塊的空間 */
  padding-bottom: 110px;
}
/* line 93, ../sass/_layout.scss */
.container .content .inner {
  background-color: #FFF;
  padding: 35px 48px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
/* line 98, ../sass/_layout.scss */
.container .content .inner h2 {
  font-size: 30px;
  margin-bottom: 19px;
}
/* line 105, ../sass/_layout.scss */
.container footer {
  /* 設定footer的高度 */
  height: 110px;
  /* 設定footer絕對位置在底部 */
  position: absolute;
  bottom: 0;
  /* 展開footer寬度 */
  width: 100%;
  padding: 30px 0;
}
/* line 115, ../sass/_layout.scss */
.container footer p {
  font-size: 14px;
  text-align: center;
}
/* line 119, ../sass/_layout.scss */
.container footer a {
  color: #01a5ca;
}
/* line 121, ../sass/_layout.scss */
.container footer a:hover {
  text-decoration: underline;
}

/* line 11, ../sass/index.scss */
.container p {
  line-height: 2rem;
  font-size: 17px;
}
/* line 17, ../sass/index.scss */
.container .banner .right {
  width: 300px;
  height: 415px;
  float: right;
  background-color: #292929;
  padding: 40px 50px;
}
/* line 23, ../sass/index.scss */
.container .banner .right h2 {
  color: #01a5ca;
  font-size: 45px;
  line-height: 3rem;
}
/* line 28, ../sass/index.scss */
.container .banner .right p {
  color: #ececec;
  padding: 20px 0;
}
/* line 32, ../sass/index.scss */
.container .banner .right .btn {
  display: block;
  width: 135px;
  height: 43px;
  color: #FFF;
  background-color: #3f3f3f;
  line-height: 43px;
  text-align: center;
}
/* line 14, ../sass/common/_mixin.scss */
.container .banner .right .btn:hover {
  color: #FFF;
  background: #01a5ca;
}
/* line 38, ../sass/index.scss */
.container .article {
  height: 153px;
  margin: 35px 0;
  padding: 35px 45px;
  background-color: #FFF;
}
/* line 45, ../sass/index.scss */
.container .bottom {
  background-color: #FFF;
}
/* line 48, ../sass/index.scss */
.container .bottom h3 {
  font-size: 30px;
}
/* line 51, ../sass/index.scss */
.container .bottom .events {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
  padding: 30px 20px 30px 45px;
}
/* line 56, ../sass/index.scss */
.container .bottom .events .event:first-of-type {
  padding: 20px 0 50px 0;
}
/* line 60, ../sass/index.scss */
.container .bottom .events .img {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  display: block;
}
/* line 63, ../sass/index.scss */
.container .bottom .events .img img {
  width: 100%;
}
/* line 67, ../sass/index.scss */
.container .bottom .events .right {
  width: 65.51724%;
  float: right;
  margin-right: 0;
}
/* line 69, ../sass/index.scss */
.container .bottom .events .right h4 {
  font-weight: bold;
}
/* line 72, ../sass/index.scss */
.container .bottom .events .right p {
  font-size: 14px;
  line-height: 1.5rem;
}
/* line 79, ../sass/index.scss */
.container .bottom .service {
  width: 31.81818%;
  float: right;
  margin-right: 0;
  padding: 30px 30px 0 30px;
}
/* line 82, ../sass/index.scss */
.container .bottom .service h3 {
  padding-bottom: 10px;
}
/* line 85, ../sass/index.scss */
.container .bottom .service li {
  list-style-image: url("../images/layout/list.png");
  line-height: 2rem;
  margin-left: 0.8rem;
}
/* line 91, ../sass/index.scss */
.container .bottom .find {
  width: 31.81818%;
  float: right;
  margin-right: 0;
  padding: 30px;
}
/* line 94, ../sass/index.scss */
.container .bottom .find h3 {
  word-spacing: -0.5px;
  padding-bottom: 20px;
}
/* line 98, ../sass/index.scss */
.container .bottom .find input {
  width: 210px;
  height: 42px;
  padding-left: 1rem;
  margin-bottom: 15px;
  font-size: 16px;
}
/* line 105, ../sass/index.scss */
.container .bottom .find .btn {
  display: block;
  width: 108px;
  height: 43px;
  color: #01a5ca;
  background-color: #f4f4f4;
  line-height: 43px;
  text-align: center;
}
/* line 14, ../sass/common/_mixin.scss */
.container .bottom .find .btn:hover {
  color: #000;
  background: #B7B7B7;
}

/* line 111, ../sass/index.scss */
#slide_wrapper {
  width: 640px;
  height: 415px;
  float: left;
}
/* line 115, ../sass/index.scss */
#slide_wrapper .pic {
  position: relative;
}
/* line 118, ../sass/index.scss */
#slide_wrapper .slick-dots {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 60px;
}
/* line 125, ../sass/index.scss */
#slide_wrapper .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 3px #1F1F1F inset;
}
/* line 135, ../sass/index.scss */
#slide_wrapper .slick-dots .slick-active button,
#slide_wrapper .slick-dots button:hover {
  background-color: #292929;
}

/*# sourceMappingURL=index.css.map */
