main.accountZone {
    select,
    input,
    button {
        padding: 0;

        border: none;
        background: none;

        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    .wrap {
        max-width: 375px;
    }
    /* ====================================================================== */
    /* header */
    /* ====================================================================== */
    header {
        color: #fff;
        background-color: #000;
        .wrap {
            position: relative;

            height: 253px;

            background-image: -webkit-image-set(image-url("AccountZone/header.jpg") 1x, image-url("AccountZone/header@2x.jpg") 2x, image-url("AccountZone/header@3x.jpg") 3x);
            background-repeat: no-repeat;
            background-position: 50% 0;
        }
    }
    .header-titles {
        padding-top: 40px;

        text-align: center;
        h1 {
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
        }
        h2 {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .header-tabs {
        position: absolute;
        bottom: 9px;
        left: 0;

        display: flex;

        width: 100%;
        li {
            position: relative;

            width: 50%;

            text-align: center;
            &.active {
                &::before {
                    position: absolute;
                    bottom: -10px;
                    left: calc(50% - 5px);

                    width: 0;
                    height: 0;

                    content: "";

                    border-width: 0 5px 8px 5px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                }
                a {
                    opacity: 1;
                }
            }
        }
        a {
            font-size: 17px;
            line-height: 25px;

            position: relative;

            display: inline-block;

            opacity: 0.6;
            color: #fff;
            &::before {
                @include clickableArea(34px, 25px);
            }
        }
    }

    /* ====================================================================== */
    /* 註冊 */
    /* ====================================================================== */
    .registerArea {
        display: none;
        &.active {
            display: block;
        }
    }

    /* ====================================================================== */
    /* 登入 */
    /* ====================================================================== */
    .loginArea {
        font-size: 13px;
        line-height: 20px;

        display: none;

        margin-top: 22px;
        margin-bottom: 20px;
        padding: 0 32px;
        &.active {
            display: block;
        }
    }
    .loginArea-field {
        ul,
        li {
            display: flex;

            width: 100%;

            align-items: center;
        }
        & > li {
            margin-bottom: 10px;
            padding-bottom: 12px;

            border-bottom: 1px solid rgba(155, 155, 155, 0.3);

            align-items: center;
            &::before {
                display: block;

                width: 20px;
                height: 20px;

                content: "";

                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;
            }
            &:first-child::before {
                background-image: inline-image("Icons/mobile.svg");
            }
            &:last-child::before {
                background-image: inline-image("Icons/password.svg");
            }
        }
        select {
            font-size: 13px;
            line-height: 20px;

            width: 55px;
            height: 24px;
            margin-right: 5px;
            padding-left: 5px;

            background-image: inline-image("Icons/down#4a4a4a.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 5px) 50%;
            background-size: 10px 10px;

            flex-shrink: 0;
        }
        input {
            line-height: 20px;

            width: 100%;
            @mixin placeholder {
                font-size: 13px;
                line-height: 20px;

                color: $dirty-purple-40;
            }
            &::-webkit-input-placeholder {
                @include placeholder;
            }
            &:-ms-input-placeholder {
                @include placeholder;
            }
            &::placeholder {
                @include placeholder;
            }
        }
        .del {
            position: relative;

            display: block;

            width: 10px;
            height: 10px;
            margin: 0 8px 0 11px;

            background-image: inline-image("Icons/delete.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            flex-shrink: 0;
            &::before {
                @include clickableArea(10px, 10px);
            }
        }
    }
    .loginArea-field-phoneNum {
        li:first-child {
            width: 60px;
            margin-right: 11px;

            flex-shrink: 0;
            &::after {
                width: 1px;
                height: 20px;

                content: "";

                background-color: #dcdcdc;

                flex-shrink: 0;
            }
        }
    }
    .loginArea-field-pwd {
        li {
            &:first-child {
                margin-left: 10px;
            }
            &:last-child {
                width: 30px;
                &::before {
                    width: 1px;
                    height: 20px;

                    content: "";

                    background-color: #dcdcdc;

                    flex-shrink: 0;
                }
            }
        }
        input {
            width: 100%;
        }
        .del::before {
            @include clickableArea(10px, 10px, 29px, 44px);
        }
    }
    .loginArea-field-pwd-toggle {
        position: relative;

        width: 12px;
        height: 12px;
        margin: 0 7px 0 10px;

        background-image: inline-image("Icons/eye-hide.svg");
        background-size: contain;
        &.show {
            background-image: inline-image("Icons/eye-show.svg");
        }
        &::before {
            @include clickableArea(12px, 12px, 29px, 44px);
        }
    }
    .loginArea-type {
        display: flex;

        justify-content: space-between;
        a {
            position: relative;

            color: $ocean-blue;
            &::before {
                @include clickableArea(false, 20px);
            }
        }
    }
    .loginArea-type-divide {
        color: $dirty-purple-40;
    }
    .loginArea-notExist {
        margin: 10px 0;

        text-align: center;

        opacity: 0;
        color: #ed5168;
        &.active {
            opacity: 1;
        }
    }
    .loginArea-send {
        @include btn(100%, 40px, #fff, $ocean-blue);
    }
    .loginArea-sns {
        margin-top: 20px;
        button {
            position: relative;

            display: block;

            width: 30px;
            height: 30px;

            background-size: contain;
            @each $type in $sns {
                &.#{$type} {
                    background-image: inline-image("Icons/#{$type}.svg");
                }
            }
            &::before {
                @include clickableArea(30px, 30px);
            }
        }
    }
    .loginArea-sns-title {
        font-size: 13px;
        line-height: 20px;

        display: flex;

        color: $dirty-purple-40;

        align-items: center;
        justify-content: space-between;
        &::before,
        &::after {
            width: calc(50% - 62px);
            height: 1px;

            content: "";

            background-color: rgba(155, 155, 155, 0.3);
        }
        p {
            width: 104px;

            text-align: center;

            flex-shrink: 0;
        }
    }
    .loginArea-sns-btns {
        display: none;

        width: 170px;
        margin: 15px auto 0;
        &.active {
            display: flex;
        }
        &.tw {
            justify-content: center;
        }
        &.cn {
            justify-content: space-between;
        }
    }
}
