/* ========================================================================== */
/* header */
/* ========================================================================== */
body > header {
    position: fixed;
    z-index: map-get($z-index, header);
    top: 0;
    right: 0;
    left: 0;

    padding-top: 20px;

    background-color: $ocean-blue;
    .top {
        margin-bottom: 20px;
    }
    .top-logo {
        @extend %hide-text;

        width: 113px;
        height: 28px;
        margin: 0 auto;
        &.tw {
            background-image: inline-image("Icons/logo-tw.svg");
        }
        &.cn {
            background-image: inline-image("Icons/logo-cn.svg");
        }
    }
    .top-search {
        @include iconLink("before", 16px, 16px, "search#fff");

        position: absolute;
        top: 26px;
        left: 20px;

        display: none;
    }
    nav {
        h1 {
            display: none;
        }
        ul {
            display: flex;
        }
        li {
            width: (100% / 4);
            height: 28px;
        }
    }
    .nav-link {
        font-size: 13px;
        line-height: 20px;

        position: relative;

        display: block;

        padding-bottom: 4px;

        text-align: center;

        color: #fff;
        border-bottom: #99c8de solid 4px;
        &::before {
            position: absolute;
            top: -4px;
            right: 0;
            bottom: -4px;
            left: 0;

            content: "";
        }
        &.active {
            border-bottom: #005580 solid 4px;
        }
        &.debug {
            cursor: default;
            pointer-events: none;

            color: #909090;
        }
    }
}

/* ========================================================================== */
/* 摺疊區塊 */
/* ========================================================================== */
.foldToggle {
    font-weight: bold;

    display: flex;

    padding: 10px 0;

    align-items: center;
    justify-content: center;
    &::before {
        display: none;

        width: 16px;
        height: 16px;
        margin-right: 8px;

        content: "";

        background-size: cover;
    }
}
// 隱藏時狀態
.collapse + .foldToggle {
    &::after {
        content: attr(data-show);
    }
    &::before {
        display: block;

        background-image: inline-image("Icons/down#4a4a4a.svg");
    }
}
// 展開時狀態
.collapse.unfold + .foldToggle {
    &::after {
        content: attr(data-hide);
    }
    &::before {
        display: block;

        background-image: inline-image("Icons/up#4a4a4a.svg");
    }
}

/* ========================================================================== */
/* 摺疊區塊(with title) */
/* ========================================================================== */
.foldToggleWithTitle {
    position: absolute;
    top: -8px;
    right: 15px;

    display: none;

    padding: 11px 0;

    align-items: center;
    justify-content: center;
    &::after {
        display: none;

        width: 12px;
        height: 12px;
        margin-left: 4px;

        content: "";

        background-size: cover;
    }
    &.active {
        display: flex;
    }
    &.disable {
        pointer-events: none;
    }
}
// 隱藏時狀態
.collapse + .foldToggleWithTitle {
    &::before {
        content: attr(data-show);
    }
    &::after {
        display: block;

        background-image: inline-image("Icons/down#4a4a4a.svg");
    }
}
// 展開時狀態
.collapse.unfold + .foldToggleWithTitle {
    &::before {
        content: attr(data-hide);
    }
    &::after {
        display: block;

        background-image: inline-image("Icons/up#4a4a4a.svg");
    }
}

/* ========================================================================== */
/* 固定頂部 */
/* ========================================================================== */
.fixedTop {
    position: fixed;
    z-index: map-get($z-index, fixedTitle);
    top: $headerHeight;

    display: flex;

    width: 100%;
    height: 44px;
    padding: 0 32px 0 20px;

    transition: transform 0.2s ease-in-out;

    border-bottom: solid 1px rgba(74, 74, 74, 0.2);
    background-color: #fff;

    align-items: center;
    justify-content: space-between;
    &.hidden {
        transform: translateY(-44px);
    }
}
.fixedTop-text {
    @include ellipsis(calc(100% - (53px + 24px))); /*寬度 = 100% 減去功能鍵寬度及邊距*/

    font-size: 13px;
}
.fixedTop-icons {
    display: flex;

    width: 53px;

    justify-content: space-between;
}
.fixedTop-icons-share {
    @include iconLink("before", 14px, 14px, "share#0078b2", 39px);

    position: relative;

    display: block;
}
.fixedTop-icons-backToTop {
    @include iconLink("before", 14px, 14px, "top#0078b2", 39px);

    position: relative;

    display: block;
}

/* ========================================================================== */
/* 文章頂部標題 */
/* ========================================================================== */
.articleTitle {
    @include border("bottom");

    font-size: 17px;
    font-weight: bold;
    line-height: 45px;

    box-sizing: content-box;
    height: 45px;

    background-color: #fff;
    // 裝飾
    h1 {
        @include title(6px);
    }
}
.articleTitle.withTop {
    position: absolute;

    display: flex;

    transition: right 0.2s, left 0.2s;

    border-radius: 10px 10px 0 0;
    // 固定於頂端
    &.fixed {
        position: fixed;
        z-index: map-get($z-index, fixedTitle);
        top: $headerHeight !important;
        right: 0 !important;
        left: 0 !important;

        height: 43px;
        padding: 0 32px 0 20px;

        border-bottom: solid 1px rgba(74, 74, 74, 0.2);
        border-radius: 0;

        align-items: center;
        justify-content: space-between;
        // 裝飾
        h1::before {
            display: none;
        }
        // 回到頂部
        .articleTitle-backToTop {
            display: block;
        }
    }
}
.articleTitle-backToTop {
    @include iconLink("before", 14px, 14px, "top#0078b2");

    position: relative;

    display: none;
}

/* ========================================================================== */
/* 頁面底部 */
/* ========================================================================== */
.underline {
    font-size: 13px;
    line-height: 20px;

    display: flex;

    color: $dirty-purple-40;

    align-items: center;
    justify-content: space-between;
    &::before,
    &::after {
        width: calc(50% - 65px);
        height: 1px;

        content: "";

        background-color: rgba(155, 155, 155, 0.3);
    }
    p {
        width: 110px;

        text-align: center;

        flex-shrink: 0;
    }
}

/* ========================================================================== */
/* 排序 */
/* ========================================================================== */
.sortControl {
    display: flex;
    li {
        display: flex;

        align-items: center;
        &:first-child {
            margin-right: 14px;
            &::after {
                display: block;

                width: 1px;
                height: 17px;
                margin-left: 14px;

                content: "";

                background-color: rgba($dirty-purple, 0.3);
            }
        }
    }
    input[name=sort] {
        display: none;
        // 作用中icon
        &:checked + .sortControl-item {
            color: $ocean-blue;
            // 遞增
            .triangle {
                &.upper {
                    border-bottom-color: $ocean-blue;
                }
                &.lower {
                    border-top-color: rgba($ocean-blue, 0.4);
                }
            }
            // 遞減
            &.desc .triangle {
                &.upper {
                    border-bottom-color: rgba($ocean-blue, 0.4);
                }
                &.lower {
                    border-top-color: $ocean-blue;
                }
            }
        }
    }
}
.sortControl-item {
    font-size: 13px;
    line-height: 20px;

    position: relative;

    display: flex;

    color: $dirty-purple;

    align-items: center;
    &::before {
        @include clickableArea(37px, 20px, 40px, 40px);
    }
    // 共用icon
    .triangle {
        width: 0;
        height: 0;

        border-style: solid;
        // 遞增
        &.upper {
            margin-bottom: 1.7px;

            border-width: 0 3.5px 4.3px 3.5px;
            border-color: transparent transparent $dirty-purple transparent;
        }
        // 遞減
        &.lower {
            border-width: 4.3px 3.5px 0 3.5px;
            border-color: $dirty-purple transparent transparent transparent;
        }
    }
}
.sortControl-icon {
    margin-right: 4px;
}

/* ========================================================================== */
/* 排列 */
/* ========================================================================== */
.arrangeControl {
    display: flex;

    width: 16px * 2 + 20px; /* icon寬*2 + 間距 */
    margin-left: auto;

    align-items: center;
    justify-content: space-between;
    input[name=arrange] {
        display: none;
        // 作用中icon
        &:checked + .arrangeControl-item {
            &.chart {
                background-image: inline-image("Icons/chart-active.svg");
            }
            &.list {
                background-image: inline-image("Icons/list-active.svg");
            }
        }
    }
    .arrangeControl-item {
        position: relative;

        display: block;

        width: 16px;
        height: 16px;

        background-size: contain;
        &::before {
            @include clickableArea(16px, 16px, 36px, 36px);
        }

        // 非作用中icon
        &.chart {
            background-image: inline-image("Icons/chart.svg");
        }
        &.list {
            background-image: inline-image("Icons/list.svg");
        }
    }
}

/* ========================================================================== */
/* 播放器 */
/* ========================================================================== */
.player {
    position: fixed;
    z-index: map-get($z-index, player);
    right: 0;
    bottom: -100px;
    left: 0;

    transition: bottom 0.4s;

    background-image: linear-gradient(to bottom, #292929, #181818);
    &.active {
        bottom: 0;
    }
    .wrap {
        position: relative;

        display: flex;

        height: 100px;
        padding: 0 15px 0 10px;

        color: #fff;

        align-items: center;
    }
    .rightSide {
        font-size: 13px;
        line-height: 20px;

        width: calc(100% - 70px);
    }
    .rightSide-bottom {
        font-size: 10px;
        line-height: 10px;

        display: flex;

        align-items: center;
    }
}
.player-play {
    position: relative;

    display: flex;

    width: 70px;
    height: 70px;
    margin-right: 8px;

    border-radius: 2px;
    background-size: cover;

    flex-shrink: 0;
}
.player-play-btn {
    width: 44px;
    height: 44px;
    margin: auto;

    background-image: inline-image("Icons/play-1.svg");
    background-size: cover;
    &.pause {
        background-image: inline-image("Icons/stop-1.svg");
    }
}
.player-songName {
    @include ellipsis(237px, inline-block);

    margin-bottom: 2px;

    color: #fff;
}
.player-singer {
    @include ellipsis(237px);

    margin-bottom: 9px;

    opacity: 0.9;
}
.player-currentTime,
.player-duration {
    width: 28px;

    opacity: 0.6;
}
.player-progress {
    position: relative;

    height: 3px;
    margin: 0 10.5px;

    cursor: pointer;

    border-radius: 10px;
    background-color: #e1e1e1;

    flex-basis: 216px;
    &::before {
        @include clickableArea(false, 3px, 44px, 40px);
    }
}
.player-progress-bar {
    position: relative;

    width: 0;
    height: 100%;

    background-color: $ocean-blue;
    &::before {
        position: absolute;
        top: -((11px - 3px) / 2);
        right: -(11px / 2);

        width: 11px;
        height: 11px;

        content: "";

        border-radius: 50%;
        background-color: $ocean-blue;
    }
}
.player-duration {
    text-align: right;
}
.player-close {
    @include iconLink("before", 11.7px, 11.7px, "close#a4a4a4");

    position: absolute;
    top: 22.4px;
    right: 15.9px;

    display: block;
}

/* ====================================================================== */
/* 篩選列表 */
/* ====================================================================== */
.filterList {
    font-size: 13px;
    line-height: 20px;

    display: none;

    border-radius: 0 0 10px 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    dt {
        font-weight: bold;
        line-height: 37px;

        display: flex;

        height: 37px;
        margin-bottom: 1px;
        padding: 0 15px 0 12px;

        color: #fff;
        background-color: $ocean-blue;

        align-items: center;
        justify-content: space-between;
        &::after {
            display: block;

            width: 16px;
            height: 16px;

            content: "";

            background-image: inline-image("Icons/down#fff.svg");
            background-size: cover;
        }
        &.ui-state-active::after {
            background-image: inline-image("Icons/up#fff.svg");
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    dd:last-of-type {
        border-bottom: solid 1px #a0a0a0;
    }
    .section {
        padding: 12px;
    }
}
.filterOption {
    display: flex;

    flex-wrap: wrap;
    li {
        line-height: 28px;

        position: relative;

        width: 60px;
        margin: 12px 6px 0 0;

        cursor: pointer;
        text-align: center;
        // 前五項
        &:nth-child(-n + 5) {
            margin-top: 0;
        }
        &:nth-child(5n + 5) {
            margin-right: 0;
        }
        &.active {
            border-radius: 2px;
            background-color: rgba(74, 74, 74, 0.1);
        }
        &::before {
            @include clickableArea(60px, 28px, 44px, 40px);
        }
    }
    @media (max-width: 371px) {
        li {
            &:nth-child(5) {
                margin-top: 12px;
            }
            &:nth-child(5n + 5) {
                margin-right: 6px;
            }
            &:nth-child(4n + 4) {
                margin-right: 0;
            }
        }
    }
}
.filterList-btns {
    display: flex;

    padding: 16px 15px 16px 0;

    justify-content: flex-end;
    li {
        display: flex;

        align-items: center;
        &:first-child {
            a::before {
                @include clickableArea(52px, 20px);
            }
            &::after {
                display: inline-block;

                width: 1px;
                height: 16px;
                margin: 0 16px;

                content: "";

                background-color: rgba(74, 74, 74, 0.3);
            }
        }
        &:last-child {
            a::before {
                @include clickableArea(26px, 20px);
            }
        }
        a {
            position: relative;
            &.disable {
                cursor: default;

                color: $dirty-purple-40;
            }
        }
    }
}
