main.coworkers {
    margin-bottom: 20px;
    padding-top: 12px;
    article {
        @extend %article;
    }

    /* ====================================================================== */
    /* 排序 */
    /* ====================================================================== */
    .articleTitle.withTop.fixed .sortControl {
        display: none;
    }
    .sortControl {
        position: absolute;
        top: 14px;
        right: 15px;
    }
    .sortControl-item {
        font-weight: normal;
    }

    /* ====================================================================== */
    /* 列表 */
    /* ====================================================================== */
    .coworkerList-item {
        @include border("bottom");

        display: flex;

        padding: 12px 0 10px 14px;

        align-items: center;
        &:last-child {
            border-bottom: none;
        }
    }
    .coworkerList-item-avatar {
        overflow: hidden;

        width: 60px;
        height: 60px;
        margin-right: 12px;

        border-radius: 50%;
    }
    .coworkerList-item-content-name {
        @include ellipsis(183px);

        font-size: 17px;
        line-height: 17px;

        margin-bottom: 2px;
    }
    .coworkerList-item-content-level {
        @include musicianLevel(16px, 5px);

        font-size: 13px;
        line-height: 20px;

        display: flex;

        margin-bottom: 5px;

        text-align: center;

        align-items: center;
    }
    .coworkerList-item-content-skill {
        display: flex;
        li {
            @extend %skillTag;

            margin-right: 4px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
