main.login {
    select,
    input,
    button {
        padding: 0;

        border: none;
        background: none;

        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    /* ====================================================================== */
    /* header */
    /* ====================================================================== */
    header {
        color: #fff;
        background-color: #000;
        .wrap {
            position: relative;

            height: 253px;

            background-image: -webkit-image-set(image-url("Login/header.jpg") 1x, image-url("Login/header@2x.jpg") 2x, image-url("Login/header@3x.jpg") 3x);
        }
    }
    .header-titles {
        padding-top: 40px;

        text-align: center;
        h1 {
            font-size: 17px;
            font-weight: bold;
            line-height: 25px;
        }
        h2 {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .header-tabs {
        position: absolute;
        bottom: 9px;
        left: 0;

        display: flex;

        width: 100%;
        li {
            position: relative;

            width: 50%;

            text-align: center;
            &.active {
                &::before {
                    position: absolute;
                    bottom: -10px;
                    left: calc(50% - 5px);

                    width: 0;
                    height: 0;

                    content: "";

                    border-width: 0 5px 8px 5px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                }
                a {
                    opacity: 1;
                }
            }
        }
        a {
            font-size: 17px;
            line-height: 25px;

            opacity: 0.6;
            color: #fff;
        }
    }

    /* ====================================================================== */
    /* 註冊 */
    /* ====================================================================== */
    .registerArea {
        display: none;
        &.active {
            display: block;
        }
    }

    /* ====================================================================== */
    /* 登入 */
    /* ====================================================================== */
    .loginArea {
        display: none;

        margin-top: 22px;
        padding: 0 32px;
        &.active {
            display: block;
        }
    }
    .loginArea-field {
        ul,
        li {
            display: flex;

            width: 100%;

            align-items: center;
        }
        & > li {
            padding-bottom: 10px;

            border-bottom: 1px solid rgba(155, 155, 155, 0.3);

            align-items: center;
            &:first-child {
                &::before {
                    display: block;

                    width: 20px;
                    height: 20px;

                    content: "";

                    background-image: inline-image("Icons/mobile.svg");
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: contain;
                }
            }
            &:last-child::before {
                display: block;

                width: 20px;
                height: 20px;

                content: "";

                background-image: inline-image("Icons/password.svg");
                background-size: contain;
            }
        }
        select {
            font-size: 13px;
            line-height: 20px;

            width: 55px;
            height: 24px;
            margin-right: 5px;
            padding-left: 5px;

            background-image: inline-image("Icons/down#4a4a4a.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 5px) 50%;
            background-size: 10px 10px;

            flex-shrink: 0;
        }
        input {
            @mixin placeholder {
                font-size: 13px;
                line-height: 20px;

                color: $dirty-purple-40;
            }
            &::-webkit-input-placeholder {
                @include placeholder;
            }
            &:-ms-input-placeholder {
                @include placeholder;
            }
            &::placeholder {
                @include placeholder;
            }
        }
        .del {
            position: relative;

            display: block;

            width: 10px;
            height: 10px;
            padding: 0 8px 0 11px;

            background-image: inline-image("Icons/delete.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            &::before {
                @include clickableArea(10px, 10px);
            }
        }
        .hiddenToggle {
            position: relative;

            width: 12px;
            height: 12px;

            background-image: inline-image("Icons/eye-hide.svg");
            background-size: contain;
            &.show {
                background-image: inline-image("Icons/eye-show.svg");
            }
            &::before {
                @include clickableArea(12px, 12px, 26px, 26px);
            }
        }
    }
    .loginArea-field-phoneNum {
        li:first-child {
            width: 60px;
            margin-right: 11px;

            flex-shrink: 0;
            &::after {
                width: 1px;
                height: 20px;

                content: "";

                background-color: #dcdcdc;

                flex-shrink: 0;
            }
        }
        input {
            line-height: 20px;

            width: 100%;
        }
    }
}
