main.musicians {
    margin-bottom: 20px;
    padding-top: 12px;
    .articleTitle {
        box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.1);
    }
    /* ====================================================================== */
    /* listControls */
    /* ====================================================================== */
    .listControls {
        display: flex;

        box-sizing: content-box;
        height: 38px;
        padding: 0 15px;

        border-radius: 0 0 10px 10px;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        &.withFilter {
            border-radius: 0;
            box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.1);
        }
    }
    .filter {
        font-size: 13px;
        line-height: 38px;

        display: flex;

        align-items: center;
        &::after {
            display: inline-block;

            width: 1px;
            height: 17px;
            margin: 0 14px;

            content: "";

            background-color: rgba(74, 74, 74, 0.3);
        }
        &.active a {
            color: $ocean-blue;
            &::before {
                background-image: inline-image("Icons/filter-active.svg");
            }
        }
        a {
            position: relative;

            display: flex;

            color: $dirty-purple;

            align-items: center;
            &::before {
                display: block;

                width: 16px;
                height: 16px;

                content: "";

                background-image: inline-image("Icons/filter.svg");
                background-size: contain;
            }
            &::after {
                @include clickableArea(38px, 38px, 40px, 40px);
            }
        }
    }
    /* ====================================================================== */
    /* 篩選列表 */
    /* ====================================================================== */
    .area-content {
        display: none;

        border-top: solid 1px rgba(155, 155, 155, 0.3);
        &.active {
            display: block;
        }
    }
    /* ====================================================================== */
    /* 音樂人列表 */
    /* ====================================================================== */
    .musicianList {
        position: relative;

        margin-top: 10px;
        .musicianList-item-content-name {
            font-size: 17px;
            line-height: 25px;

            width: 100%;
        }
        .musicianList-item-content-level {
            @include musicianLevel(16px, 5px);

            font-size: 13px;
            line-height: 20px;

            display: flex;

            margin-bottom: 5px;

            text-align: center;

            align-items: center;
        }
        // 圖表
        &.chart {
            display: flex;

            flex-wrap: wrap;
            .musicianList-item {
                @extend %article;

                display: flex;
                flex-direction: column;

                width: calc((100% - 11px) / 2);
                margin-top: 0;
                margin-bottom: 10px;
                padding: 12px 9px;

                align-items: center;
                &:nth-child(2n + 1) {
                    margin-right: 11px;
                }
            }
            .musicianList-item-avatar {
                overflow: hidden;

                width: 75px;
                height: 75px;
                margin-bottom: 8px;

                border-radius: 50%;
            }
            .musicianList-item-content {
                display: flex;
                flex-direction: column;

                width: 100%;

                align-items: center;
            }
            .musicianList-item-content-name {
                @include ellipsis(152px);

                margin-bottom: 1px;

                text-align: center;
            }
            .musicianList-item-content-skill {
                display: flex;

                width: 100%;

                flex-wrap: wrap;
                justify-content: center;
                &.max li {
                    margin-right: 4px;
                }
                li {
                    @extend %skillTag;

                    margin: 0 8px 8px 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        // 列表
        &.list {
            @extend %article;
            .musicianList-item {
                @include border("bottom");

                position: relative; /* for .musicianList-item-content-intro */

                display: flex;

                padding: 12px 0 10px 14px;

                align-items: center;
                &:last-child {
                    border-bottom: none;
                }
            }
            .musicianList-item-avatar {
                overflow: hidden;

                width: 60px;
                height: 60px;
                margin-right: 12px;

                border-radius: 50%;
            }
            .musicianList-item-content {
                min-width: 167px;
            }
            .musicianList-item-content-name {
                @include ellipsis(183px);

                margin-bottom: 2px;
            }
            .musicianList-item-content-skill {
                display: flex;
                li {
                    @extend %skillTag;

                    margin-right: 4px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            /* 預先指定在圖表中顯示的寬度並隱藏，以套用js做文字限制 */
            .musicianList-item-content-intro {
                position: absolute;

                max-width: calc((100% - 11px) / 2 - 18px); /* 圖表中 .musicianList-item 的寬度再減去其 padding(18px) */

                pointer-events: none;

                opacity: 0;
            }
        }
        a {
            display: block;
        }
        .musicianList-item-content-intro {
            font-size: 13px;
            line-height: 20px;

            max-height: 20px * 2;
        }
    }
}
