// body {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//     padding: 10px;
// }
// #input01 {
//     margin-top: 200px;
// }
// footer {
//     margin-top: auto;
// }

.d1 {
    height: 343px;
    background-color: #ccc;
    border: red solid 1px;
}