@import "common/variable";
@import "common/function";
@import "common/mixin";
@import "common/extend";

// 置中
body {
    display: flex;

    height: 100vh;
}
.jp-audio {
    margin: auto;
}

.jp-gui {
    position: relative;

    display: flex;

    width: 375px;
    height: 100px;
    padding: 0 15px 0 10px;

    color: #fff;
    background-image: linear-gradient(to bottom, #292929, #181818);

    align-items: center;
    .rightSide {
        font-size: 13px;
        line-height: 20px;
    }
    .rightSide-singer,
    .rightSide-bottom {
        opacity: 0.9;
    }
    .rightSide-songName {
        margin-bottom: 2px;
    }
    .rightSide-bottom {
        font-size: 10px;
        line-height: 10px;

        display: flex;

        margin-top: 9px;

        align-items: center;
    }
    .closeBtn {
        @include iconLink("before", 8.7px, 8.7px, "close#a4a4a4");

        position: absolute;
        top: 22.4px;
        right: 15.9px;

        display: block;
    }
}
.jp-controls {
    width: 70px;
    height: 70px;
    margin-right: 8px;

    border-radius: 2px;
    background-color: #fff;
}
.jp-progress {
    overflow: hidden;

    width: 206px;
    height: 3px;
    margin: 0 5px;

    border-radius: 10px;
}
.jp-seek-bar {
    height: 100%;

    cursor: pointer;

    background-color: #e1e1e1;
}
.jp-play-bar {
    height: 100%;

    background-color: $ocean-blue;
}
