@import "susy";
// @import "compass/css3";
// @import "ceaser-easing";
@import "common/variable";
@import "common/function";
@import "common/mixin";
@import "common/extend";
@import "common/reset";

body,
a{
	color: $baseColor;
}

// fancybox
.fancybox-nav span{
    visibility: visible;
}
.fancybox-next {
    right: -60px;
}
.fancybox-prev {
    left: -60px;
}
.fancybox-close{
	top: -33px;
	right: -8px;
}

#hidden{
	display: none;
}

#container{
	min-width: 300px;
	margin: 0 auto;
}

.padding{
	padding: 0 rem(10);
}
.logo{
	@include sprite-bg($text,'text','logo');
}

header{
	background-color: #FFF;
	.wrap{
		@include container;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: rem(85);
		&:after{
			display: none;
		}
		#cart{
			position: absolute;
			right: rem(40);
			top: rem(84);
			z-index: 1;
			width: rem(115);
			max-height: 0;
			overflow: hidden;
			background-color: #FFF;
			transition: max-height 0.5s;
			&.active{
				max-height: rem(230);
			}
			a{
				display: block;
				line-height: lineHeight(45);
				text-align: center;
				&:hover{
					color: $high-light;
				}	
			}
		}
		.right{
			display: flex;
			align-items: center;
			nav{
				display: none;
				&>ul{
					display: flex;
					align-items: center;
					&>li{
						position: relative;
						margin-left: rem(30);
						font-size: rem(12);
						font-weight: bold;
						letter-spacing: letter(200);
						&:last-child{
							margin-left: rem(20);
						}
						&:hover ul{
							max-height: rem(230);
						}
						.fa-search{
							&:before{
								content: '|';
								vertical-align: rem(1);
							}
							&:after{
								content: "\f002";
							    margin-left: rem(15);
							    margin-right: rem(10);
							    font-size: rem(13);
								cursor: pointer;
							}
						}
						a{
							color: #000;
							&:hover{
								color: $high-light;
							}
						}

						// second drop-down
						ul{
							position: absolute;
							top: 11px;
						    right: -10px;
							z-index: 1;
							width: rem(115);
							max-height: 0;
							padding-top: rem(46);
							overflow: hidden;
							background-color: #FFF;
							transition: max-height 0.5s;
							a{
								display: block;
								line-height: 2.8125;
								text-align: center;
							}
						}
					}
				}
			}
			.fa-shopping-cart:after{
				content: '2';
				margin-left: rem(10);
			}
			.fa-bars{
				font-size: rem(20);
				&:before{
					content:'|';
					margin-left: rem(10);
					margin-right: rem(13);
				}
				&:after{
					cursor: pointer;
					content: '\f0c9';
					vertical-align: -1px;
				}
			}
		}
		@include susy-breakpoint($large){
			height: rem(100);
			#cart{
				top: rem(100);
				right: rem(10);
			}
			.right{
				nav{
					display: inline-block;
				}
				.fa-bars{
					display: none;
				}
			}
		}
	}
	#search{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: none;
		width: 100%;
		background-color: #1e2633;
		font-size: rem(12);
		letter-spacing: letter(200); 
		color: #FFF;
		.wrap{
			@include container;
			height: 30px;
			margin-top: 35px;
			margin-bottom: 35px;
			form{
				position: relative;
				top: 0;
				left: 0;
				width: 93%;
				label{
					position: absolute;
					left: 10px;
					top: 0;
				}
				input{
					width: 100%;
				    padding-left: 8em;
				    border: 0;
				    color: inherit;
				    background-color: transparent;
				}
			}
			.btn{
				position: absolute;
				top: 0;
				right: 10px;
				i{
					font-size: rem(16);
					line-height: 30px;
					cursor: pointer;
					margin-left: rem(10);
					&:last-child{
						font-size: rem(18);
					}
				}
			}
		}
	}
}

// for mobile
#nav{
	position: absolute;
	top: 85px;
	left: 0;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	font-size: rem(12);
	letter-spacing: letter(200);
	background-color: #FFF;
	box-shadow: 0 6px 5px -5px rgba(0,0,0,0.5);
	.wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 200%;
		ul{
			float: left;
			width: 50%;
			li{
				position: relative;
				height: rem(60);
				border-bottom: #f2f2f2 1px solid;
				&.back{
					text-align: right;
					i{
						font-style: normal;
						font-size: rem(16);
					}
				}
				&.search{
					input{
						width: 85%;
						margin-left: rem(10);
						padding: rem(20) 0;
						font-size: rem(12);
						letter-spacing: letter(200);
						border: 0;
						vertical-align: top;
					}
					i{
						float: right;
						margin-top: rem(20);
						margin-right: rem(10);
						cursor: pointer;
					}
				}
				&:last-child{
					border-bottom: 0;
				}
				ul{
					display: none;
					position: absolute;
				    top: 0;
				    left: 0;
				}
				a{
					display: block;
					padding: 0 rem(10);
					line-height: rem(60);
					color: #000;
					&:hover{
						color: $high-light;
					}
					&.next{
					    position: relative;
					    &::before{
					    	content: '\203A';
					    	position: absolute;
					    	top: 0;
					    	right: 10px;
					    	font-size: rem(22);
					    	line-height: 3.75rem;
					    }
					}
				}
			}
		}
	}
	@include susy-breakpoint($large){
		display: none;
	}
}

#slide1{
	position: relative;
	max-width: 1920px;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
	ul{
		@extend %clearfix;
		position: absolute;
		left: 0;
		top: 0;
		width: 9000px;
		height: inherit;
		li{
			float: left;
			width: 100vw;
			height: inherit;
			@for $i from 1 through 3 {
				&:nth-child(#{$i}){
					background-image: image-url('slide0#{$i}.png');
					background-position: center center;
					background-size: cover;
				}
			}
		}
	}
	.padding{
		@include container;
		position: relative;
		height: inherit;
		p{
			position: absolute;
			top: 230px;
			left: 20px;
			width: 100%;
			font-size: rem(22);
			font-weight: bold;
			line-height: 1.7em;
			letter-spacing: letter(100);
			color: $high-light;
			&:first-line{
				font-size: rem(28);
				color: #FFF;
			}
		}
		.ctrl{
			position: absolute;
			left: 20px;
			top: 340px;
			.arrow{
				position: relative;
				display: inline-block;
				width: rem(55);
				height: rem(55);
				margin-right: rem(15);
				border: #FFF 1px solid;
				&.disable{
					cursor: default;
					opacity: 0.5;
				}
				&.left::before{
					@include arrow(rem(24), #FFF, -135deg){
						position: absolute;
						top: rem(15.5);
						left: rem(21.5);
					}
				}
				&.right::before{
					@include arrow(rem(24), #FFF, 45deg){
						position: absolute;
						top: rem(15.5);
						right: rem(21.5);
					}
				}
			}
		}
	}
	@include susy-breakpoint($large){
		height: 850px;
		.padding{
			p{
				width: rem(430);
				top: 665px;
				left: auto;
				right: 0;
				font-size: rem(30);
				&:first-line{
					font-size: rem(50);
				}
			}
			.ctrl{
				top: 680px;
			}
		}
	}
}

main{
	section{
		margin: rem(66) 0;
		h2{
			font-size: rem(38);
			letter-spacing: letter(200);
		}
		h3{
			margin: 0.5rem 0 1rem;
			font-size: rem(11);
			letter-spacing: letter(100);
			color: $high-light;
		}
		article{
			margin-bottom: rem(60);
		}
	}
	.img{
		max-width: 497px;
		margin: 0 auto rem(60);
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	p{
		font-size: rem(12);
		letter-spacing: letter(150);
		line-height: lineHeight(30,12);
	}
}

#about{
	@include container;
	@include susy-breakpoint($medium){
		.img{
			@include span(last 3);
		}
		article{
			@include span(3);
		}
	}
	@include susy-breakpoint($large, $large-layout){
		@include container;
		.img{
			@include span(6 at 3);
			margin-bottom: 0;
		}
		article{
			@include span(4 wide at 10);
			margin-bottom: 0;
		}
	}
	@include susy-breakpoint(1180px){
		article{
			margin-top: 40px;
		}
	}
}

#gallery{
	background-color: $bgColor;
	.inner{
		@include container;
		padding-top: rem(66);
		padding-bottom: rem(66);
		text-align: center;
		.galleryImg{
			width: 283px;
			margin: 0 auto;
			padding-top: rem(20);
			ul{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li{
					width: 135px;
					height: 135px;
					margin-bottom: 13px;
					&:nth-child(5),
					&:nth-child(6){
						margin-bottom: 0;
					}
					img{
						max-width: 100%;
					}
				}
			}
		}
		@include susy-breakpoint($medium){
			.galleryImg{
				min-width: 476px;
				ul li{
					width: 150px;
					height: 150px;
					&:nth-child(4){
						margin-bottom: 0;
					}
				}
			}
		}
		@include susy-breakpoint($large, $large-layout){
			@include container;
			hgroup{
				@include span(3 at 3);
				margin-top: 116px;
			}
			.galleryImg{
				@include span(6 at 7);
				padding-top: 0;
			}
		}
	}
}

#menu{
	@include container;
	margin-bottom: rem(66+70);
	article{
		hgroup{
			text-align: right;
		}
		p{
			text-align: right;
		}
	}
	.nav{
		max-width: 563px;
		ul{
			display: flex;
			justify-content: space-between;
			li{
				&.active a{
					color: $high-light;
					border-bottom-color: $high-light;
				}
				a{
					display: block;
					font-size: rem(12);
					font-weight: bold;
					line-height: lineHeight(50,12);
					border-bottom: transparent 1px solid;
				}
			}
		}
	}
	.content{
		@include full;
		&>div{
			display: none;
			&:first-child{
				display: block;
			}
			h3{
				margin: rem(60) auto;
				&:nth-of-type(1){
					@include sprite-bg($text,'text','Appetizers');
				}
				&:nth-of-type(2){
					@include sprite-bg($text,'text','Entrees');
				}
				&:nth-of-type(3){
					@include sprite-bg($text,'text','MainCourse');
				}
				&:nth-of-type(4){
					@include sprite-bg($text,'text','Salads');
				}
			}
			li{
				@extend %clearfix;
				margin: rem(35) 0;
				.left{
					@include span(2);
					margin-top: 8px;
					.menuPic{
						position: relative;
						width: 70px;
						height: 70px;
						margin: 0 auto;
						cursor: pointer;
						&:hover{
							i{
								opacity: 1;
								transition: opacity 0.5s;
							}
							div{
								opacity: 0.5;
								transition: opacity 0.5s;
							}
						}
						i{
							position: absolute;
							top: 28%;
							left: 30%;
							color: #FFF;
							font-size: 2.5rem;
							opacity: 0;
							z-index: 1;
						}
						div{
							position: absolute;
							top: 0;
							left: 0;
							width: inherit;
							height: inherit;
							border-radius: 100%;
							background-color: $high-light;
							opacity: 0;
						}
						img{
							max-width: 100%;
							border-radius: 100%;
						}
					}
					p{
						margin-top: rem(15);
						font-size: rem(21);
						font-weight: bold;
						text-align: center;
						letter-spacing: letter(50);
						span{
							color: #dcdee0;
						}
					}
				}
				.right{
					@include span(last 4);
					h4{
						line-height: lineHeight(30);
					}
				}
			}
		}
	}
	@include susy-breakpoint($medium){
		article{
			@include span(3);
			margin-top: 3.5%;
		}
		.img{
			@include span(last 3);
		}
		.nav{
			clear: both;
			margin: 0 auto;
		}
		.content{
			&>div li{
				position: relative;
				.left{
					@include span(1);
					p{
						position: absolute;
						right: 0;
						top: 0;
					}
					.menuPic{
						width: 85px;
						height: 85px;
					}
				}
				.right{
					@include span(4);
				}
			} 
		}
	}
	@include susy-breakpoint($large, $large-layout){
		@include container;
		article{
			@include span(4 wide at 3);
		}
		.img{
			@include span(6 wide at 8);
		}
		.content{
			&>div li{
				.left{
					@include span(2);
				}
				.right{
					@include span(10);
				}
			} 
		}
	}
}

#quote{
	background-color: $bgColor;
	.inner{
		@include container;
		padding-bottom: rem(60);
		.img{
			max-width: 350px;
			margin-bottom: 0;
			img{
				margin-top: rem(-70);
			}
		}
		article{
			h2{
				margin: rem(20) 0;
				padding: 0 10px;
				font-size: rem(20);
				line-height: 2rem;
				letter-spacing: letter(200);
				text-align: center;
			}
			p{
				text-align: center;
				font-size: rem(12);
			}
		}
		@include susy-breakpoint($large, $large-layout){
			.img{
				@include span(5 at 9);
			}
			article{
				@include span(5 at 3);
				h2{
					margin-top: 40%;
				}
			}
		}
	}
}

#reservation{
	@include container;
	p:first-of-type{
		margin-bottom: rem(40);
	}
	.title{
		margin: rem(60) 0;
		font-size: rem(20);
		text-align: center;
		letter-spacing: letter(100);
	}
	form{
		select,
		input{
			height: rem(50);
			margin: rem(30) 0;
			font-size: rem(15);
			font-weight: bold;
			letter-spacing: letter(25);
			color: $baseColor;
			border: none;
			border-bottom: 3px solid #f5f7fa;
		}
		.wrap{
			div{
				@include span(full);
				i{
					@include span(1);
					margin: rem(30) 0;
					font-size: 1.5rem;
					line-height: rem(50);
					text-align: center;
				}
				select{
					@include span(last 5);
					display: inline-block;
					vertical-align: 3px;
					background: image-url('arrowDown.png') no-repeat right center;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}
			}
		}
		input[type=text]{
			width: 100%;
		}
		input[type=submit]{
			display: block;
			width: rem(200);
			height: rem(50);
			margin: 0 auto;
			background-color: $baseColor;
			color: #FFF;
			cursor: pointer;
		}
	}
	@include susy-breakpoint($medium){
		.img{
			@include span(3);
			margin-bottom: 0;
		}
		article{
			@include span(last 3);
			margin-bottom: 0;
		}
		.title,
		.wrap{
			@include full;
		}
		form{
			.wrap{
				div{
					@include gallery(2);
					margin-bottom: rem(40);
					i,
					select{
						margin: 0;
					}
				}
			}
			input[type=text]{
				display: none;
			}
			input[type=submit]{
				clear: both;
				width: rem(180);
			}
		}
	}
	@include susy-breakpoint($large, $large-layout){
		@include container;
		.img{
			@include span(5 wide at 3);
		}
		article{
			@include span(5 wide at 9);
			margin-top: 3.5%;
		}
		form{
			.wrap{
				@include span(9 at 4){
					div{
						@include gallery(3);
					}
				}
			}
		}
	}
}

#lunch{
	background-color: $bgColor;
	.inner{
		@include container;
		padding-top: rem(66);
		padding-bottom: rem(66);
		text-align: center;
		#slide2{
			margin-bottom: 0;
			overflow: hidden;
			background-color: $bgColor;
			border-color: $bgColor;
			.price{
				position: absolute;
				top: rem(20);
				right: rem(20);
				z-index: 2;
				width: rem(85);
				height: rem(45);
				font-size: rem(15);
				font-weight: bold;
				letter-spacing: letter(100);
				text-align: center;
				line-height: lineHeight(45,15);
				background-color: #fff;
			}
			.flex-control-nav{
				bottom: 10px;
			}
			.flex-control-paging li a{
				border: #FFF solid 2px;
				background-color: transparent;
				box-shadow: none;
				&:hover,&.flex-active{
					background-color: #fff;
				}
			}
		}
		p{
			margin: rem(10) 0;
			font-size: rem(15);
			font-weight: bold;
			letter-spacing: letter(100);
		}
		h4{
			@include sprite-bg($text,'text','Monday');
			margin: 0 auto;
		}
	}
	@include susy-breakpoint($large, $large-layout){
		hgroup{
			@include span(2 wide at 2);
			margin-top: 20%;
		}
		#slide2{
			@include span(10 at 5);
		}
	}
}

#contact{
	font-weight: bold;
	@include container;
	article{
		text-align: right;
		p{
			font-weight: normal;
		}
	}
	.title{
		margin-top: rem(50);
		margin-bottom: rem(25);
		font-size: rem(20);
		letter-spacing: letter(85);
		color: $high-light;
	}
	.details{
		dt{
			margin-bottom: rem(10);
			font-size: rem(15);
			color: $high-light;
		}
		dd{
			margin-bottom: rem(30);
			font-size: rem(12);
		}
	}
	.message{
		.box{
			position: relative;
			margin-bottom: rem(20);
			border-bottom: 3px solid #f5f7fa;
			label{
				display: inline-block;
				width: 35%;
				line-height: lineHeight(45);
			}
			input[type=text],select{
				width: 65%;
				height: rem(45);
				border: 0;
			}
			select{
				display: inline-block;
				background: image-url('arrowDown.png') no-repeat right center;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
		}
		input[type=submit]{
			display: block;
			width: rem(135);
			height: rem(40);
			margin: rem(50) auto 0;
			font-size: rem(12);
			font-weight: bold;
			letter-spacing: letter(50);
			background-color: $bgColor;
			border: none;
			cursor: pointer;
		}
	}
	
	@include susy-breakpoint($medium){
		.img{
			@include span(last 3);
		}
		article{
			@include span(3);
			margin-top: 3.5%;
		}
		.details{
			@include span(last 2);
			clear: both;
		}
		.message{
			@include span(4);
		}
	}
	@include susy-breakpoint($large, $large-layout){
		@include container;
		.img{
			@include span(6 wide at 8);
		}
		article{
			@include span(4 wide at 3);
		}
		.details{
			@include span(4 at 12);
		}
		.message{
			@include span(11){
				.box{
					@include gallery(5);
					&:last-of-type{
						@include span(8);
					}
					&:last-of-type{
						label{
							width: 20%;
						}
						input[type=text]{
							width: 80%;
						}
					}
				}
				input[type=submit]{
					float: left;
					margin: 0;
				}
			}
		}

	}
}

footer{
	background-color: $bgColor;
	.wrap{
		@include container;
		padding-top: rem(25);
		padding-bottom: rem(25);
		font-weight: bold;
		font-size: rem(12);
		text-align: center;
		color: $baseColor;
		&:after{
			display: none;
		}
		.social{
			dt{
				margin-bottom: rem(15);
			}
			dd{
				display: inline-block;
				width: rem(33);
				height: rem(33);
				border: $baseColor 2px solid;
				border-radius: 100%;
				&:nth-of-type(2){
					margin: 0 rem(10);
				}
				a{
					display: block;
					line-height: lineHeight(33,12);
				}
			}
		}
		.logo{
			margin: rem(35) auto;
		}
		@include susy-breakpoint($medium){
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: rem(100);
			padding-top: 0;
			padding-bottom: 0;
			.social{
				order: 3;
			}
			.logo{
				order: 1;
				margin: 0;
			}
			.copyright{
				order: 2;
			}
		}
		@include susy-breakpoint($large, $large-layout){
			.social dt{
				display: inline-block;
				margin-right: rem(10);
				margin-bottom: 0;
			}
		}
	}
}