body {
	color: $baseColor;
}
.wrap {
	min-width: 300px;
	max-width: 940px;
	margin: 0 auto;
}
h1 {
	font-weight: normal;
}
p {
	line-height: 23px;
}

// oooo                                  .o8
// `888                                 "888
//  888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b
//  888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P
//  888   888  888ooo888  .oP"888  888   888  888ooo888  888
//  888   888  888    .o d8(  888  888   888  888    .o  888
// o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b

header {
	position: relative;

	height: $headerHeight;

	background-color: #000;
	a {
		color: #fff;
	}
	.wrap {
		position: relative;

		height: inherit;
		padding: 0 13px;
	}
	h1 {
		position: relative;

		float: left;

		width: 94px;
		height: inherit;

		background-image: url('../images/logo_top.svg');
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: contain;

		@extend %hide-text;
	}
}
.logoTop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#toggleBtn {
	font-size: 1.5rem;
	line-height: $headerHeight;

	position: relative;

	float: right;

	cursor: pointer;

	color: #fff;

	@include linkArea(-0.5em, -13px, -0.5em, -0.5em);
}
#toggle:checked {
	& + nav {
		max-height: 500px;
	}
}
nav {
	position: absolute;
	top: $headerHeight;
	right: 0;
	left: 0;

	overflow: hidden;

	max-height: 0;

	transition: max-height 0.3s;

	box-shadow: 0 1px 1px rgba(#000, 0.5);
	h1 {
		display: none;
	}
	li {
		transition: background-color 0.5s;

		border-bottom: #fff dashed 1px;
		background-color: rgba(#000, 0.95);
		&:last-child {
			border-bottom: 0;
		}
		&:hover {
			background-color: rgba(#fff, 0.95);
			a {
				color: #000;
			}
		}
	}
	a {
		display: block;

		padding: 1em;

		transition: color 0.5s;
		letter-spacing: 0.1em;
	}
}
@media (min-width: 768px) {
	#toggleBtn,
	#toggle {
		display: none;
	}
	nav {
		position: relative;
		top: 0;
		right: -13px;
		left: auto;

		float: right;

		height: inherit;
		max-height: none;

		box-shadow: none;
		ul {
			height: inherit;
			&:before {
				display: table;

				content: '';
			}
			&:after {
				display: table;
				clear: both;

				content: '';
			}
		}
		li {
			float: left;

			height: inherit;

			border-bottom: none;
		}
		a {
			line-height: 56px;

			padding: 0 1em;
		}
	}
}

//  .o8
// "888
//  888oooo.   .oooo.   ooo. .oo.   ooo. .oo.    .ooooo.  oooo d8b
//  d88' `88b `P  )88b  `888P"Y88b  `888P"Y88b  d88' `88b `888""8P
//  888   888  .oP"888   888   888   888   888  888ooo888  888
//  888   888 d8(  888   888   888   888   888  888    .o  888
//  `Y8bod8P' `Y888""8o o888o o888o o888o o888o `Y8bod8P' d888b

.banner {
	background-color: #0c0200;
	.wrap {
		display: flex;

		height: 364px;

		background-image: url('../images/header_mobile.png');
		background-position: 50%;
		background-size: cover;

		align-items: center;
	}
	article {
		min-width: 300px;
		margin: auto;
		padding-top: 1em;
		padding-bottom: 1em;

		color: #fff;
		background-color: rgba(#000, 0.5);
		h1 {
			font-size: 36px;
			line-height: 1.4;

			margin-bottom: 1rem;

			text-align: center;
			.first::after {
				content: '\A';
				white-space: pre;
			}
		}
		p {
			line-height: 1.4;

			text-align: center;
			.last::before,
			.last::after {
				font-family: FontAwesome;

				content: '\f0f5';
			}
		}
	}
}
@media (min-width: 480px) {
	.banner article {
		padding-right: 1em;
		padding-left: 1em;
	}
	.banner article h1 .first::after {
		display: none;
	}
}
@media (min-width: 600px) {
	.banner .wrap {
		background-image: url('../images/header_desktop.png');
	}
}
@media (min-resolution: 192dpi) {
	.banner .wrap {
		background-image: url('../images/header_mobile@2x.png');
	}
}
@media (min-width: 600px) and (min-resolution: 192dpi) {
	.banner .wrap {
		background-image: url('../images/header_desktop@2x.png');
	}
}

//  .o8                     .       .
// "888                   .o8     .o8
//  888oooo.   .ooooo.  .o888oo .o888oo  .ooooo.  ooo. .oo.  .oo.
//  d88' `88b d88' `88b   888     888   d88' `88b `888P"Y88bP"Y88b
//  888   888 888   888   888     888   888   888  888   888   888
//  888   888 888   888   888 .   888 . 888   888  888   888   888
//  `Y8bod8P' `Y8bod8P'   "888"   "888" `Y8bod8P' o888o o888o o888o

.bottom {
	background-color: $baseBgColor;
	.wrap {
		display: flex;

		padding: 50px 10px;

		flex-wrap: wrap;
	}
	h1 {
		font-size: 24px;

		margin-bottom: 1rem;
	}
}
.about {
	width: 100%;
	p {
		font-size: 15px;
	}
}
.contact {
	width: 100%;
	margin: 30px 0;
	ul {
		padding-left: 1em;

		list-style-type: disc;
	}
	li {
		line-height: 23px;
	}
}
.icons {
	width: 100%;
	ul {
		float: right;
		clear: both;

		@extend %clearfix;
	}
	li {
		float: left;

		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
	}
	.fa {
		font-size: 2em;
	}
	.fa-google-plus-square {
		color: #db4437;
	}
	.fa-twitter-square {
		color: #41abe1;
	}
	.fa-facebook-square {
		color: #3a5795;
	}
}
.logoBottom {
	float: right;

	width: 245px;
	height: 49px;
	margin-bottom: 23px;

	background-image: url('../images/logo_bottom.svg');
	background-size: contain;
}
@media (min-width: 768px) {
	.about,
	.contact,
	.icons {
		width: calc((100% - 20px) / 3);
	}
	.about {
		margin-right: 20px;
	}
	.contact {
		margin: 0;
	}
}
