/**************************************
	common
**************************************/
body,
input,
select,
textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.65;

	color: #7f888f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	line-height: 1.5;

	color: $mark;
}
html {
	font-size: 12px;
}
body {
	min-width: 300px;
	&.android {
		// 隱藏 Chrome for Android 捲軸
		#sidebar .inner::-webkit-scrollbar {
			display: none;
		}
	}
}
a {
	color: #7f888f;
}
#wrap {
	display: flex;
}
section {
	margin: 3em 0;
	padding-bottom: 3em;

	border-bottom: $divide 2px solid;
	&#bottom {
		border-bottom: none;
	}
}
h2 {
	font-size: 1.4em;

	display: inline-block;

	margin-bottom: 3rem;
	&::after {
		display: block;

		width: calc(100% + 1ch);
		height: 3px;
		margin-top: 0.5em;

		content: '';

		background-color: $highlight;
	}
}
h3 {
	font-size: 1.3rem;

	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;

	display: inline-block;

	margin-top: 1.5em;
	padding: 0.8em 2em;

	transition: background-color 0.2s;
	text-align: center;

	color: $highlight;
	border: $highlight 2px solid;
	border-radius: 5px;
	&:hover {
		background-color: rgba(245, 106, 106, 0.05);
	}
}
.link {
	position: relative;

	border-bottom: dotted 1px;

	@include link-hover();
	&::before {
		position: absolute;
		top: -1em;
		right: 0;
		bottom: -1em;
		left: 0;

		content: '';
	}
}
.image {
	display: block;

	margin-bottom: 2em;
	img {
		width: 100%;

		border-radius: 5px;
	}
}
.zoomIn {
	display: block;
	overflow: hidden;
	&:hover img {
		transform: scale(1.1, 1.1);
	}
	img {
		transition: transform 0.2s;
	}
}

/**************************************
	sidebar
**************************************/
#sidebar {
	position: fixed;
	z-index: index($z-index, sidebar);

	width: 250px;
	height: 100%;

	transition: margin-left 0.5s;

	background-color: #f5f6f7;
	box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
	&.inactive {
		margin-left: -250px;
	}
	.inner {
		position: relative;

		overflow-y: auto;

		width: inherit;
		height: inherit;
		padding: 1.6em;
	}
}
#toggle {
	position: absolute;
	top: 0.8em;
	right: -5.8em;

	display: flex;

	width: 5em;
	height: 3.5em;

	color: #7f888f;
	border-radius: 5px;
	background-color: rgba(222, 225, 226, 0.75);
	&::after {
		position: absolute;
		top: -0.8em;
		right: -1.6em;
		bottom: -1.6em;
		left: -0.8em;

		content: '';
	}
	i {
		font-size: 1.5rem;

		margin: auto;
	}
}
#search {
	width: calc(100% + 3em);
	margin: -1.5em 0 0 -1.5em;
	padding: 1.6em;

	background-color: #eff1f2;
	input {
		width: 100%;
		height: 2.5em;
		padding: 0.5em 1em;

		border: $divide 1px solid;
		border-radius: 5px;
		&:focus {
			border-color: $highlight;
			box-shadow: 0 0 0 1px $highlight;
		}
	}
	form {
		position: relative;
		&::after {
			font-family: FontAwesome;
			font-size: 1.2rem;
			line-height: 2.5rem;

			position: absolute;
			top: 0;
			right: 10px;

			content: '\f002';

			color: $divide;
		}
	}
}
#menu {
	h2 {
		margin-bottom: 2em;
	}
	a,
	i,
	.menuLink {
		line-height: 3.5rem;

		display: block;

		cursor: pointer;

		color: $mark;

		@include link-hover();
	}
	.menuLink:hover ~ i {
		color: $highlight;
	}
	i {
		font-size: 1.5rem;

		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;

		transition: color 0.2s, transform 0.2s;
	}
	.opener:checked {
		& ~ ul {
			display: block;
		}
		& ~ i {
			transform: rotate(180deg);
		}
	}
	nav > ul > li {
		font-family: 'Roboto Slab', serif;

		position: relative;

		letter-spacing: 0.075em;

		border-bottom: $divide solid 0.5px;
		&:last-child {
			border-bottom: none;
		}
		ul {
			display: none;

			margin: 0 0 1.5em 1ch;
			a {
				line-height: 3;

				color: #9fa3a6;
			}
		}
	}
}
#ante {
	img {
		display: block;

		width: 100%;

		border-radius: 5px;
	}
	li {
		margin-bottom: 2em;

		border-bottom: $divide 0.5px solid;
		&:last-child {
			border-bottom: none;
		}
	}
	p {
		margin: 2em 0;
	}
}
#touch {
	p {
		margin-bottom: 1em;
	}
	li {
		display: flex;

		padding: 1.5em 0;

		border-bottom: $divide solid 0.5px;

		align-items: baseline;
		$icons: (
		envelope: '\f003',
		phone: '\f095',
		home: '\f015'
		);
		@each $item, $val in $icons {
			&.#{$item}::before {
				content: $val;
			}
		}
		&::before {
			font-family: fontAwesome;
			font-size: 1.5rem;

			position: relative;
			top: 0.1em;

			margin-right: 1ch;

			color: $highlight;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
footer {
	line-height: 2em;

	margin-bottom: 3em;
}

/**************************************
	main
**************************************/
main {
	width: 100%;
	padding: 0 2em;

	flex-grow: 1;
}
/**************************************
	main > header
**************************************/
header {
	margin-top: 6em;

	border-bottom: #f56a6a 4px solid;
}
#social {
	position: absolute;
	z-index: index($z-index, social);
	top: 2em;
	right: 2em;
	li {
		display: inline-block;

		margin-right: 1em;

		$icons: (
		twitter: '\f099',
		facebook: '\f09a',
		snapchat: '\f2ac',
		instagram: '\f16d',
		medium: '\f23a'
		);
		@each $item, $val in $icons {
			&.#{$item} a::before {
				content: $val;
			}
		}
		a::before {
			font-family: fontAwesome;
			font-size: 1.5rem;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		position: relative;

		@include link-hover();
		&::after {
			position: absolute;
			top: -1em;
			right: -1em;
			bottom: -1em;
			left: -1em;

			content: '';
		}
	}
	.label {
		display: none;
	}
}
#logo {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	line-height: 3;

	display: inline-block;

	@include link-hover() {
		&:hover strong {
			color: $highlight;
		}
	}
	strong {
		font-weight: 700;
		font-style: normal;

		transition: color 0.2s;

		color: $mark;
	}
}
/**************************************
	main > top
**************************************/
#top {
	display: flex;
	flex-direction: column;
	.image {
		height: 25em;
		max-height: 50vh;

		border-radius: 5px;
		background-image: image-url('pic10.jpg');
		background-size: cover;
	}
	h1 {
		font-size: 2rem;

		margin-bottom: 0.5rem;
	}
	p:first-of-type {
		margin-bottom: 1.5em;
	}
}
/**************************************
	main > middle
**************************************/
#middle {
	h2 {
		font-size: 1.75rem;
	}
	.inner {
		@include container;
	}
	article {
		margin-bottom: 2.5em;

		@include full;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.icon {
		position: relative;

		display: flex;

		width: 6em;
		min-width: 6em;
		height: 6em;
		margin-right: 2em;

		$icons: (
		diamond: '\f219',
		plane: '\f1d8',
		rocket: '\f135',
		signal: '\f012',
		);
		@each $item, $val in $icons {
			&.#{$item}::before {
				content: $val;
			}
		}
		&::before {
			font-family: fontAwesome;
			font-size: 1.5rem;

			position: relative;
			top: 0.1em;

			margin: auto;

			color: $highlight;
		}
		&::after {
			position: absolute;
			top: calc(50% - 2em);
			right: calc(50% - 2em);

			width: 4em;
			height: 4em;

			content: '';
			transform: rotate(45deg);

			border: #dadfe0 2px solid;
		}
	}
}

/**************************************
	main > bottom
**************************************/
#bottom {
	h2 {
		font-size: 1.75rem;
	}
	.inner {
		@include container;
	}
	article {
		padding: 2em 0;

		border-bottom: $divide 1px solid;

		@include full;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
