%clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
%list_style{
  list-style-image: url('../images/layout/list.png');
  padding-left: 1rem;
  a{
    font-size: 14px;
    line-height: 30px;
    color:$highlight;
    &:hover{
      color:$text-color;
    }
  }
}