@import "susy";
@import "compass/css3";
@import "ceaser-easing";
@import "common/variable";
@import "common/mixin";
@import "common/extend";
@import "common/reset";
@import "layout";

.container{
	@include container();
	.content{
		.inner{
			.programs{
				@include span(3);
				padding-right: 42px;
				p:first-of-type{
					font-weight: bold;
					margin-bottom: 5px;
				}
				ul{
					@extend %list_style;
					margin: 15px 0;
				}
				.btn{
					@include link_btn(108px,$highlight,#f4f4f4,#000,#B7B7B7);
					margin-top: 20px;
					font-size: 14px;
					font-weight: bold;
				}
			}
			.training{
				@include span(last 6);
				p:first-of-type{
					font-weight: bold;
					margin-bottom: 5px;
				}
				ul{
					li{
						margin-top: 30px;
						img{
							float: left;
							margin-right: 30px;
						}
					}
				}
			}
		}
	}
	footer{
		@include full;
	}
}
