$susy:(
	container:940px,
	columns:9,
	debug: (
        // image: show
	)
);

html{
	background: url(../images/layout/bg.png) repeat;
	/* 設定body高度為100% 拉到視窗可視的大小 */
	height: 100%;
}
body{
	border-top: 6px solid #292929;
	/* 設定body高度為100% 拉到視窗可視的大小 */
	height: 100%;
}
#bg-img{
	@include bg('../images/layout/bg-img.gif');
	position: absolute;
	top: -6px;
	left: -150px;
}
.container{
	@include container();
	min-width: 940px;
	/* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;

	p{
		font-size: 14px;
		line-height: 25px;
	}
	i{
		color: $highlight;
		font-style: normal;
	}

	header{
		position: relative;
		height: 149px;
		padding: 35px 0 35px 20px;
		h1{
			@include bg('../images/layout/logo.png');
			@extend %hide-text;
		}
		nav{
			position: absolute;
			bottom: 35px;
			right: 20px;
			li{
				float: left;
				padding-right: 30px;
				&:last-of-type{
					padding-right: 0;
				}
				a{
					font-size: 17px;
					&:hover{
						color: $highlight;
					}
				}
			}
		}
		.share{
			position: absolute;
			top: 35px;
			right: 20px;
			li{
				float: left;
				&:first-of-type{
					padding-right: 15px;
				}
				a{
					display: inline-block;
					@extend %hide-text;
				}
				.twitter{
					@include bg('../images/layout/twitter.png');
				}
				.facebook{
					@include bg('../images/layout/facebook.png');
				}
			}
		}
	}

	.content{
		/* 留出footer區塊的空間 */
	   	padding-bottom: 110px;
	   	.inner{
	   		@extend %clearfix;
	   		background-color: #FFF;
	   		padding: 35px 48px;
	   		box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	   		h2{
	   			font-size: 30px;
	   			margin-bottom: 19px;
	   		}
	   	}
	}

	footer{
	    /* 設定footer的高度 */
	    height: 110px;
	    /* 設定footer絕對位置在底部 */
	    position: absolute;
	    bottom: 0;
	    /* 展開footer寬度 */
	    width: 100%;

		padding:30px 0;
		p{
			font-size: 14px;
			text-align: center;
		}
		a{
			color:$highlight;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}