@import "susy";
@import "compass/css3";
@import "ceaser-easing";
@import "common/variable";
@import "common/mixin";
@import "common/extend";
@import "common/reset";
@import "layout";

$susy:(
	container:940px,
	columns:12,
	debug: (
        // image: show
	)
);

.container{
	@include container();
	.content{
		@include container;
		.inner{
			.find{
				@include span(3);
				font-size: 14px;
				iframe{
					border: #f4f4f4 solid 5px;
				}
				.info{
					margin-top: 10px;
					line-height: 25px;
					table{
						font-size: 13px;
					}
					td:first-child{
						padding-right: 5px;
					}
				}
			}
			.form{
				@include span(last 9);
				padding-left: gutter();
				input[type="text"],textarea{
					width: 100%;
					border: #f4f4f4 solid 1px;
					padding: 10px;
					margin-bottom: 10px;
				}
				input[type="text"]{
					height: 43px;
				}
				textarea{
					height: 206px;
				}
				.btn{
					@include link_btn(108px,$highlight,#f4f4f4,#000,#B7B7B7);
					font-size: 14px;
					font-weight: bold;
					float: right;
					margin-left: 10px;
				}
			}
		}
	}
	footer{
		@include full;
	}
}

// Google Maps 小於 200x200 可隱藏所有控制項
#map{
	width: 199px;
	height: 199px;
}
// 資訊視窗
#mapInfo{
    line-height: normal;
}
// 隱藏使用條款
.gm-style-cc{
	display: none;
}