@import "susy";
@import "compass/css3";
@import "ceaser-easing";
@import "common/variable";
@import "common/mixin";
@import "common/extend";
@import "common/reset";
@import "layout";

$susy:(
	container:940px,
	columns:12,
	// debug: (image: show)
);

.container{
	@include container();
	.content{
		.inner{
			h2{
				font-size: 30px;
				margin-bottom: 19px;
				clear: both;
			}
			img{
				border: #f4f4f4 solid 5px;
			}
			.wrap{
				display: flex;
				flex-wrap:wrap;
				justify-content:space-between;
			}
		}
	}
	footer{
		@include full;
	}
}
