@mixin bg($img){
    background:image-url($img);
    width:image-width($img);
    height:image-height($img);
}

@mixin link-hover() {
	transition: color 0.2s;
	&:hover{
		color: $highlight;
	}
	@content;
}